.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    padding-bottom: 200px;
    position: relative;
}

#Header {
    float: left;
    height: 80px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    display: block;
    background-color: rgb(0, 148, 255);
}

#text {
    float: left;
    font-size: 48px;
    width: 245.87500494000003px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 6.131235%;
    margin-top: 16px;
    clear: none;
    min-height: 37px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Black';
    font-style: italic;
}

body {
    font-family: Roboto;
    color: rgb(81, 81, 81);
}

#Menu {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 30px;
    clear: none;
    width: 569.171875px;
    margin-right: 6.132472%;
    display: block;
}

#text1 {
    float: left;
    font-size: 1em;
    width: 180.140625px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 27.652565%;
    margin-top: 0px;
    clear: none;
    min-height: 21px;
    font-family: 'Roboto Black';
    color: rgb(255, 255, 255);
    margin-right: 0%;
    display: block;
}

#text3 {
    float: left;
    font-size: 1em;
    width: 69.18750627px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 7.499931%;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    margin-right: 0%;
    font-family: Roboto;
    color: rgb(255, 255, 255);
}

#Add_Lang_btn {
    float: left;
    height: 64px;
    font-size: 18px;
    clear: both;
    width: 24.244111%;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Roboto Medium';
    color: rgb(255, 255, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: block;
    background-color: rgb(97, 204, 0);
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 47.5px;
    margin-left: 25.598773%;
    margin-right: 0px;
}

#box {
    float: left;
    height: 453px;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    width: 100%;
    background-image:url("img/breakfast_blur.jpg");
    background-position: 50% 50%;
    background-repeat: repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

#text2 {
    float: left;
    font-size: 1em;
    width: 49.00000476px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 4.677849%;
    margin-top: 0px;
    clear: none;
    min-height: 21px;
    font-family: Roboto;
    color: rgb(255, 255, 255);
    margin-right: 0%;
}

#Add_Lang_btn1 {
    float: left;
    height: 64px;
    font-size: 18px;
    clear: none;
    width: 24.244111%;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Roboto Medium';
    color: rgb(255, 255, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: block;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 47.5px;
    margin-left: 4.751831%;
    margin-right: 0px;
    background-color: rgb(97, 204, 0);
}

#Register_Graphic1 {
    float: left;
    height: 80px;
    margin-left: 25.669289%;
    margin-top: 32px;
    clear: both;
    width: 80px;
    margin-right: 0px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    display: block;
    background-image:url("img/girl-s.jpg");
    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

#text7 {
    float: left;
    font-size: 24px;
    width: 32.885491%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 1.045378%;
    margin-top: 32px;
    clear: none;
    min-height: 26px;
    font-family: 'Roboto Black';
    margin-right: 0%;
    display: block;
    color: rgb(81, 81, 81);
}

#text8 {
    float: left;
    font-size: 1em;
    width: 9.606344%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: -32.879305%;
    margin-top: 76px;
    clear: none;
    min-height: 0px;
    margin-right: 0%;
}

#box8 {
    float: left;
    height: 48px;
    margin-left: -22.242429%;
    margin-top: 76px;
    clear: none;
    width: 48px;
    background-color: rgb(178, 178, 178);
}

#box9 {
    float: left;
    height: 48px;
    margin-left: -16.017171%;
    margin-top: 76px;
    clear: none;
    width: 48px;
    background-color: rgb(178, 178, 178);
    margin-right: 0%;
}

#box10 {
    float: left;
    height: 48px;
    margin-left: -9.926762%;
    margin-top: 76px;
    clear: none;
    width: 48px;
    margin-right: 0%;
    background-color: rgb(178, 178, 178);
}

#box11 {
    float: left;
    height: 48px;
    margin-left: -3.794289%;
    margin-top: 76px;
    clear: none;
    width: 48px;
    margin-right: 0%;
    background-color: rgb(178, 178, 178);
}

#Add_Lang_btn2 {
    float: right;
    height: 48px;
    font-size: 18px;
    clear: both;
    width: 10.149446%;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Roboto Medium';
    color: rgb(255, 255, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: block;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: -48px;
    margin-left: 0px;
    margin-right: 21.511283%;
    background-color: rgb(97, 204, 0);
}

#text6 {
    float: left;
    font-size: 20px;
    width: 31.733719%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 25.597536%;
    margin-top: 25px;
    clear: both;
    min-height: 37px;
}

#Register_Graphic2 {
    float: left;
    height: 80px;
    margin-left: 25.720012%;
    margin-top: 85px;
    clear: none;
    width: 80px;
    margin-right: 0px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    display: block;
    background-image:url("img/Eric.jpg");
    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

#text9 {
    float: left;
    font-size: 24px;
    width: 32.885491%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 1.044141%;
    margin-top: 85px;
    clear: none;
    min-height: 26px;
    font-family: 'Roboto Black';
    margin-right: 0%;
    display: block;
    color: rgb(81, 81, 81);
}

#text10 {
    float: left;
    font-size: 1em;
    width: 9.606344%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: -32.878068%;
    margin-top: 129px;
    clear: none;
    min-height: 0px;
    margin-right: 0%;
}

#box12 {
    float: left;
    height: 48px;
    margin-left: -22.242429%;
    margin-top: 129px;
    clear: none;
    width: 48px;
    background-color: rgb(178, 178, 178);
    margin-right: 0%;
}

#box13 {
    float: left;
    height: 48px;
    margin-left: -16.015934%;
    margin-top: 129px;
    clear: none;
    width: 48px;
    margin-right: 0%;
    background-color: rgb(178, 178, 178);
}

#Add_Lang_btn3 {
    float: right;
    height: 48px;
    font-size: 18px;
    clear: left;
    width: 10.149446%;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Roboto Medium';
    color: rgb(255, 255, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: block;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: -48px;
    margin-left: 0px;
    margin-right: 21.46056%;
    background-color: rgb(97, 204, 0);
}

#Register_Graphic3 {
    float: left;
    height: 80px;
    margin-left: 25.786817%;
    margin-top: 88px;
    clear: none;
    width: 80px;
    margin-right: 0px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    display: block;
    background-image:url("img/Stephanie.jpg");
    background-position: 100% 10%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

#text11 {
    float: left;
    font-size: 24px;
    width: 32.885491%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 1.044141%;
    margin-top: 88px;
    clear: none;
    min-height: 26px;
    font-family: 'Roboto Black';
    margin-right: 0%;
    display: block;
    color: rgb(81, 81, 81);
}

#text12 {
    float: left;
    font-size: 1em;
    width: 9.606344%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: -32.878068%;
    margin-top: 132px;
    clear: none;
    min-height: 0px;
    margin-right: 0%;
}

#box14 {
    float: left;
    height: 48px;
    margin-left: -22.242429%;
    margin-top: 132px;
    clear: none;
    width: 48px;
    margin-right: 0%;
    background-color: rgb(178, 178, 178);
}

#box15 {
    float: left;
    height: 48px;
    margin-left: -16.015934%;
    margin-top: 132px;
    clear: none;
    width: 48px;
    margin-right: 0%;
    background-color: rgb(178, 178, 178);
}

#Add_Lang_btn4 {
    float: right;
    height: 48px;
    font-size: 18px;
    clear: right;
    width: 10.149446%;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Roboto Medium';
    color: rgb(255, 255, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: block;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 132px;
    margin-left: 0px;
    margin-right: 21.393755%;
    background-color: rgb(97, 204, 0);
}

#box16 {
    float: left;
    height: 48px;
    margin-left: -9.926762%;
    margin-top: 132px;
    clear: none;
    width: 48px;
    margin-right: 0%;
    background-color: rgb(178, 178, 178);
}

#Hamburger {
    float: left;
    width: auto;
    max-width: none;
    height: 25px;
    margin-left: 4.428332%;
    margin-top: 23px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0%;
    display: none;
}

#box1 {
    float: left;
    height: 253px;
    margin-left: 0%;
    margin-top: 47px;
    clear: none;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: block;
    background-color: rgba(255, 255, 255, 0.901961);
    margin-right: 0%;
}

#box2 {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 23px;
    clear: none;
    width: 100%;
    margin-right: auto;
}

#Register_Graphic {
    float: left;
    height: 200px;
    margin-left: 20%;
    margin-top: 0px;
    clear: none;
    width: 200px;
    margin-right: 0px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    display: block;
    background-image:url("img/jonathan_s.jpg");
    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
}

#text4 {
    float: left;
    font-size: 32px;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 3.49%;
    margin-top: 0px;
    clear: none;
    min-height: 32px;
    font-family: 'Roboto Black';
    margin-right: 0%;
    display: block;
}

#box3 {
    float: left;
    height: auto;
    margin-left: -49.87%;
    margin-top: 40px;
    clear: none;
    width: 20%;
    margin-right: 0%;
    min-height: 0px;
    margin-bottom: 0px;
}

#box4 {
    float: left;
    height: 30px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0%;
    display: block;
    background-color: rgb(255, 206, 0);
}

#box5 {
    float: left;
    height: 30px;
    margin-left: 10%;
    margin-top: 0px;
    clear: none;
    width: 30.000001110000003px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0%;
    display: block;
    background-color: rgb(0, 206, 255);
}

#box6 {
    float: left;
    height: 30px;
    margin-left: 10%;
    margin-top: 0px;
    clear: none;
    width: 30.000001110000003px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0%;
    display: block;
    background-color: rgb(97, 204, 0);
}

#box7 {
    float: left;
    height: 30px;
    margin-left: 10%;
    margin-top: 0px;
    clear: none;
    width: 30.000001110000003px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0%;
    display: block;
    background-color: rgb(255, 147, 0);
}

#text5 {
    float: left;
    font-size: 1em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.2em;
    margin-left: -50%;
    margin-top: 80px;
    clear: none;
    min-height: 118px;
    color: rgb(81, 81, 81);
    font-family: 'Roboto Light';
    margin-right: 0px;
    display: block;
    margin-bottom: 0px;
}

@media only screen and (max-width: 960px) {
    #Hamburger {
        display: block;
        margin-left: 0px;
        margin-right: 5%;
        float: right;
        margin-top: 28px;
        clear: none;
    }

    #Menu {
        display: none;
    }

    #Register_Graphic {
        margin-left: 6%;
    }

    #text4 {
        height: auto;
        clear: none;
        margin-right: 0px;
        float: left;
        min-height: 0px;
        font-size: 32px;
        width: 50%;
    }

    #box3 {
        float: left;
        clear: none;
        height: 30px;
        width: 204.28125119999999px;
    }

    #box4 {
        margin-left: 0%;
        margin-right: 0px;
        float: left;
        clear: none;
        margin-top: 0px;
    }

    #box5 {
        margin-left: 12%;
        margin-right: 0px;
        float: left;
        clear: none;
        margin-top: 0px;
    }

    #box6 {
        margin-left: 15%;
        margin-right: 0px;
        float: left;
        clear: none;
        margin-top: 0px;
    }

    #box7 {
        margin-left: 86.216919%;
        margin-right: 0px;
        float: left;
        clear: none;
        margin-top: -30px;
    }

    #text5 {
        clear: none;
        height: auto;
        float: left;
    }

    #Add_Lang_btn {
        margin-top: 47.5px;
        margin-left: 6.131185%;
        clear: both;
        width: 42.667643%;
    }

    #Add_Lang_btn1 {
        margin-top: 48px;
        margin-left: 2.529297%;
        clear: none;
        width: 42.537435%;
    }

    #text6 {
        margin-left: 5.999349%;
        margin-top: 25px;
        clear: both;
    }

    #Register_Graphic1 {
        margin-left: 5.999349%;
        margin-top: 32px;
        clear: both;
    }

    #box {
        margin-top: 0px;
        margin-left: 0%;
        clear: both;
    }

    #text8 {
        margin-top: 76px;
        margin-left: -32.877604%;
        clear: none;
    }

    #box8 {
        margin-top: 76px;
        margin-left: -22.241211%;
        clear: none;
    }

    #box9 {
        margin-top: 76px;
        margin-left: -16.015625%;
        clear: none;
    }

    #box10 {
        margin-top: 76px;
        margin-left: -9.926758%;
        clear: none;
    }

    #box11 {
        margin-top: 76px;
        margin-left: -3.792318%;
        clear: none;
    }

    #Add_Lang_btn2 {
        margin-right: 6.13444%;
        margin-top: -48px;
        clear: both;
        width: 36.533203%;
    }

    #text10 {
        margin-top: 129px;
        margin-left: -32.877604%;
        clear: none;
    }

    #box12 {
        margin-top: 129px;
        margin-left: -22.241211%;
        clear: none;
    }

    #box13 {
        margin-top: 129px;
        margin-left: -16.015625%;
        clear: none;
    }

    #Add_Lang_btn3 {
        margin-right: 6.13444%;
        margin-top: -48px;
        clear: left;
        width: 36.533203%;
    }

    #text12 {
        margin-top: 132px;
        margin-left: -32.877604%;
        clear: none;
    }

    #box14 {
        margin-top: 132px;
        margin-left: -22.241211%;
        clear: none;
    }

    #box15 {
        margin-top: 132px;
        margin-left: -16.015625%;
        clear: none;
    }

    #box16 {
        margin-top: 132px;
        margin-left: -9.926758%;
        clear: none;
    }

    #Add_Lang_btn4 {
        margin-right: 6.13444%;
        margin-top: 132px;
        clear: right;
        width: 36.533203%;
    }

    #Register_Graphic2 {
        margin-left: 6%;
    }

    #Register_Graphic3 {
        margin-left: 6%;
    }
}

