<!DOCTYPE html>
<html>

    <head>
	<link rel="stylesheet" href="boilerplate.css">
	<link rel="stylesheet" href="map page.css">
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">
    </head>
    <body>

    <div id="primaryContainer" class="primaryContainer clearfix">
        <div id="Header" class="clearfix">
            <p id="text">
            Local Host
            </p>
            <div id="Menu" class="clearfix">
                <p id="text1">
                Switch to Guide Mode
                </p>
                <p id="text2">
                About
                </p>
                <p id="text3">
                Contact
                </p>
            </div>
        </div>
        <div id="Map" class="clearfix">
            <input id="Guide1" type="button" value="G"></input>
            <input id="Guide2" type="button" value="G"></input>
            <a href="profile.html">
                <input id="Guide3" type="button" value="J"></input>
            </a>
            <input id="Guide4" type="button" value="G"></input>
            <input id="Guide5" type="button" value="G"></input>
            <input id="Guide6" type="button" value="G"></input>
        </div>
    </div>
    </body>
</html>