.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    padding-bottom: 200px;
    position: relative;
}

#Header {
    float: left;
    height: 80px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    display: block;
    background-color: rgb(0, 148, 255);
}

#text {
    float: left;
    font-size: 48px;
    width: 245.87500494000003px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 6.131235%;
    margin-top: 16px;
    clear: none;
    min-height: 37px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Black';
    font-style: italic;
}

body {
    font-family: Roboto;
    color: rgb(81, 81, 81);
}

#Menu {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 30px;
    clear: none;
    width: 569.171875px;
    margin-right: 6.132472%;
    display: block;
}

#text1 {
    float: left;
    font-size: 1em;
    width: 180.140625px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 26.50232%;
    margin-top: 0px;
    clear: none;
    min-height: 21px;
    font-family: 'Roboto Black';
    color: rgb(255, 255, 255);
    margin-right: 0%;
}

#text3 {
    float: left;
    font-size: 1em;
    width: 69.18750627px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 7.497186%;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    margin-right: 0%;
    font-family: Roboto;
    color: rgb(255, 255, 255);
}

#Add_Lang_btn {
    float: left;
    height: 64px;
    font-size: 18px;
    clear: left;
    width: 48.849466%;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Roboto Medium';
    color: rgb(255, 255, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: block;
    background-color: rgb(97, 204, 0);
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 48px;
    margin-left: 25.703929%;
    margin-right: 0px;
}

#text10 {
    float: left;
    font-size: 20px;
    width: 16.990796%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 25.801663%;
    margin-top: 18px;
    clear: none;
    min-height: 23px;
    font-family: 'Roboto Black';
    margin-right: 0%;
}

#text8 {
    float: left;
    font-size: 20px;
    width: 17.066261%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 25.727435%;
    margin-top: 18px;
    clear: both;
    min-height: 23px;
    font-family: 'Roboto Black';
    margin-right: 0%;
}

#text6 {
    float: left;
    font-size: 20px;
    width: 17.066261%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 25.727435%;
    margin-top: 31px;
    clear: both;
    min-height: 23px;
    font-family: 'Roboto Black';
    margin-right: 0%;
}

#box7 {
    float: left;
    height: 70px;
    margin-left: 25.727435%;
    margin-top: 30px;
    clear: left;
    width: 70px;
    background-color: rgb(178, 178, 178);
    margin-right: 0%;
}

#box8 {
    float: left;
    height: 70px;
    margin-left: 2.988915%;
    margin-top: 30px;
    clear: none;
    width: 70px;
    background-color: rgb(178, 178, 178);
    margin-right: 0%;
}

#box9 {
    float: left;
    height: 70px;
    margin-left: 3.068092%;
    margin-top: 30px;
    clear: none;
    width: 70px;
    margin-right: 0%;
    background-color: rgb(178, 178, 178);
}

#box10 {
    float: left;
    height: 70px;
    margin-left: 2.917162%;
    margin-top: 30px;
    clear: none;
    width: 70px;
    margin-right: 0%;
    background-color: rgb(178, 178, 178);
}

#text7 {
    float: right;
    font-size: 20px;
    width: 25.687846%;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 31px;
    clear: none;
    min-height: 23px;
    font-family: 'Roboto Light';
    margin-right: 25.509699%;
}

#text9 {
    float: right;
    font-size: 20px;
    width: 25.689084%;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0px;
    margin-top: -23px;
    clear: left;
    min-height: 23px;
    font-family: 'Roboto Light';
    margin-right: 25.507225%;
}

#box {
    float: left;
    height: 351px;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    width: 100%;
    background-image:url("img/autumn-in-china_blurred.jpg");
    background-position: 50% 50%;
    background-repeat: repeat;
    background-attachment: scroll;
    -webkit-background-size: 100%;
    background-size: 100%;
}

#box1 {
    float: left;
    height: 251px;
    margin-left: 0%;
    margin-top: 47px;
    clear: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.901961);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#Register_Graphic {
    float: left;
    height: 200px;
    margin-left: 25.598773%;
    margin-top: 23px;
    clear: none;
    width: 200px;
    margin-right: 0px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    display: block;
    background-image:url("img/girl-s.jpg");
    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
}

#text4 {
    float: left;
    font-size: 32px;
    width: 36.193587%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 1.230948%;
    margin-top: 23px;
    clear: none;
    min-height: 32px;
    font-family: 'Roboto Black';
    margin-right: 0%;
    display: block;
}

#text5 {
    float: left;
    font-size: 1em;
    width: 36.067399%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.2em;
    margin-left: -36.103276%;
    margin-top: 136px;
    clear: none;
    min-height: 87px;
    color: rgb(81, 81, 81);
    font-family: 'Roboto Light';
    margin-right: 0px;
    display: block;
}

#box3 {
    float: left;
    height: 30px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 30px;
    background-color: rgb(255, 206, 0);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0%;
}

#box4 {
    float: left;
    height: 30px;
    margin-left: 5%;
    margin-top: 0px;
    clear: none;
    width: 30.000001110000003px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgb(0, 206, 255);
    margin-right: 0%;
}

#box5 {
    float: left;
    height: 30px;
    margin-left: 5%;
    margin-top: 0px;
    clear: none;
    width: 30.000001110000003px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0%;
    background-color: rgb(97, 204, 0);
}

#box6 {
    float: left;
    height: 30px;
    margin-left: 5%;
    margin-top: 0px;
    clear: none;
    width: 30.000001110000003px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0%;
    background-color: rgb(255, 147, 0);
}

#box2 {
    float: left;
    height: auto;
    margin-left: -36.270289%;
    margin-top: 75px;
    clear: none;
    width: 36.234412%;
}

#text2 {
    float: left;
    font-size: 1em;
    width: 49.00000476px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 5.839075%;
    margin-top: 0px;
    clear: none;
    min-height: 21px;
    font-family: Roboto;
    color: rgb(255, 255, 255);
    margin-right: 0%;
}

