.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    padding-bottom: 200px;
}

#Header {
    float: left;
    height: 80px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    display: block;
    background-color: rgb(0, 148, 255);
}

#text {
    float: left;
    font-size: 48px;
    width: 245.87500494000003px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 6.131235%;
    margin-top: 16px;
    clear: none;
    min-height: 37px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Black';
    font-style: italic;
}

#host_pic {
    float: none;
    height: 200px;
    margin-left: auto;
    margin-top: 151px;
    clear: none;
    width: 200px;
    margin-right: auto;
    background-image:url("img/jonathan_s.jpg");
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    background-position: 50% 0%;
    background-repeat: repeat repeat;
}

#host_info {
    float: none;
    font-size: 1em;
    width: 36.324723%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1.2em;
    margin-left: auto;
    margin-top: 41px;
    clear: none;
    min-height: 137px;
    color: rgb(81, 81, 81);
    font-family: 'Roboto Light';
    margin-right: auto;
}

#profession {
    float: right;
    height: 93px;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 43px;
    clear: none;
    width: 36.532561%;
    margin-right: 31.734956%;
}

#profession_label {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding: 0.2em 0em;
    display: block;
    font-family: 'Roboto Light';
    color: rgb(81, 81, 81);
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
}

#profession_input {
    float: none;
    height: 54.625px;
    padding: 0px 0px 0px 16px;
    font-size: 1em;
    display: block;
    width: 100%;
    margin-top: 17px;
    margin-left: 0%;
    clear: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: rgb(119, 119, 119);
    font-family: Roboto;
    border: 1px none rgb(215, 215, 215);
    background-color: rgb(241, 241, 241);
}

#city {
    float: right;
    height: 93px;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 28px;
    clear: right;
    width: 36.532561%;
    margin-right: 31.733353%;
}

#city_label {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding: 0.2em 0em;
    display: block;
    font-family: 'Roboto Light';
    color: rgb(81, 81, 81);
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
}

#city_input {
    float: none;
    height: 54.625px;
    padding: 0px 0px 0px 16px;
    font-size: 1em;
    display: block;
    width: 100%;
    margin-top: 17px;
    margin-left: 0%;
    clear: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: rgb(119, 119, 119);
    font-family: Roboto;
    border: 1px none rgb(215, 215, 215);
    background-color: rgb(241, 241, 241);
}

#since {
    float: left;
    height: 93px;
    display: block;
    text-align: left;
    margin-left: 31.731893%;
    margin-top: 26px;
    clear: right;
    width: 36.429879%;
}

#since_select {
    float: none;
    height: 54.63px;
    padding: 0px 0px 0px 16px;
    font-size: 1em;
    display: block;
    width: 100%;
    margin-top: 17px;
    border-style: none;
    border-width: 1px;
    background-color: rgb(241, 241, 241);
}

#since_label {
    float: none;
    font-size: 1em;
    width: auto;
    height: 22px;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding: 0.2em 0em;
    display: block;
    color: rgb(81, 81, 81);
    font-family: 'Roboto Light';
}

body {
    font-family: Roboto;
    color: rgb(81, 81, 81);
}

#Menu {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 30px;
    clear: none;
    width: 324.671875px;
    margin-right: 6.132472%;
    display: block;
}

#text1 {
    float: left;
    font-size: 1em;
    width: 133.00000029px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    margin-right: 0%;
    font-family: Roboto;
    color: rgb(255, 255, 255);
}

#text2 {
    float: left;
    font-size: 1em;
    width: 49.00000476px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 7.195212%;
    margin-top: 0px;
    clear: none;
    min-height: 21px;
    font-family: Roboto;
    color: rgb(255, 255, 255);
    margin-right: 0%;
}

#text3 {
    float: left;
    font-size: 1em;
    width: 69.18750627px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 7.494441%;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    margin-right: 0%;
    font-family: Roboto;
    color: rgb(255, 255, 255);
}

#register_host_btn {
    float: left;
    height: 54px;
    font-size: 18px;
    margin-left: 31.838493%;
    margin-top: 48px;
    clear: left;
    width: 36.579572%;
    border-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Roboto Medium';
    color: rgb(255, 255, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: rgb(255, 95, 0);
    margin-right: 0%;
    display: block;
}

#knowledge1 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 31.793224%;
    margin-top: 56.5px;
    clear: left;
    width: 17.009353%;
    margin-right: 0%;
}

#knowledge1_chk {
    float: none;
    height: auto;
    padding: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#knowledge1_label {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding: 0em 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#knowledge2 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 2.432205%;
    margin-top: 56.5px;
    clear: none;
    width: 17.029147%;
    margin-right: 0%;
}

#knowledge2_chk {
    float: none;
    height: auto;
    padding: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#knowledge2_label {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding: 0em 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#knowledge7 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 31.793224%;
    margin-top: 33px;
    clear: left;
    width: 17.009353%;
    margin-right: 0%;
}

#knowledge7_chk {
    float: none;
    height: auto;
    padding: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#knowledge7_label {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding: 0em 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#knowledge3 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 31.845794%;
    margin-top: 33px;
    clear: left;
    width: 16.952445%;
    margin-right: 0%;
}

#knowledge3_chk {
    float: none;
    height: auto;
    padding: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#knowledge3_label {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding: 0em 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#knowledge4 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 2.515093%;
    margin-top: 33px;
    clear: none;
    width: 16.948733%;
    margin-right: 0%;
}

#knowledge4_chk {
    float: none;
    height: auto;
    padding: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#knowledge4_label {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding: 0em 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#knowledge9 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 31.845794%;
    margin-top: 31px;
    clear: left;
    width: 16.952445%;
    margin-right: 0%;
}

#knowledge9_chk {
    float: none;
    height: auto;
    padding: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#knowledge9_label {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding: 0em 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#knowledge5 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 31.87354%;
    margin-top: 33px;
    clear: left;
    width: 16.925228%;
    margin-right: 0%;
}

#knowledge5_chk {
    float: none;
    height: auto;
    padding: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#knowledge5_label {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding: 0em 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#knowledge6 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 2.398802%;
    margin-top: 33px;
    clear: none;
    width: 17.066261%;
    margin-right: 0%;
}

#knowledge6_chk {
    float: none;
    height: auto;
    padding: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#knowledge6_label {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding: 0em 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#knowledge11 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 31.87354%;
    margin-top: 33px;
    clear: left;
    width: 16.928939%;
    margin-right: 0%;
}

#knowledge11_chk {
    float: none;
    height: auto;
    padding: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#knowledge11_label {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding: 0em 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#knowledge8 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 2.273657%;
    margin-top: 33px;
    clear: none;
    width: 17.029147%;
    margin-right: 0%;
}

#knowledge8_chk {
    float: none;
    height: auto;
    padding: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#knowledge8_label {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding: 0em 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#knowledge10 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 2.400701%;
    margin-top: 33px;
    clear: none;
    width: 16.948733%;
    margin-right: 0%;
}

#knowledge10_chk {
    float: none;
    height: auto;
    padding: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#knowledge10_label {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding: 0em 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#knowledge12 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 2.275117%;
    margin-top: 33px;
    clear: none;
    width: 17.066261%;
    margin-right: 0%;
}

#knowledge12_chk {
    float: none;
    height: auto;
    padding: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#knowledge12_label {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding: 0em 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#Hamburger {
    float: left;
    width: auto;
    max-width: none;
    height: 25px;
    margin-left: 12.141958%;
    margin-top: 23px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0%;
    display: none;
}

@media only screen and (max-width: 960px) {
    #Menu {
        display: none;
    }

    #Hamburger {
        display: block;
        margin-left: 0px;
        margin-right: 5%;
        float: right;
        margin-top: 28px;
        clear: none;
    }

    #host_info {
        height: auto;
        margin-top: 41px;
        margin-left: auto;
        clear: none;
        width: 70%;
        margin-right: auto;
        min-height: 86px;
    }

    #profession {
        margin-right: auto;
        margin-top: 77px;
        clear: none;
        margin-left: auto;
        float: none;
        width: 70%;
    }

    #city {
        margin-right: auto;
        margin-top: 28px;
        clear: none;
        margin-left: auto;
        float: none;
        width: 70%;
    }

    #since {
        margin-top: 26px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
        width: 70%;
    }

    #knowledge1 {
        margin-top: 57px;
        margin-left: 15%;
        clear: none;
        width: 19.132487%;
    }

    #knowledge3 {
        margin-top: 57px;
        margin-left: 6.222331%;
        clear: none;
        width: 19.046224%;
    }

    #knowledge5 {
        margin-top: 48px;
        margin-left: 6.132813%;
        clear: none;
        width: 19.466146%;
    }

    #knowledge6 {
        margin-top: 48px;
        margin-left: 6.118164%;
        clear: none;
        width: 19.482422%;
    }

    #knowledge7 {
        margin-top: 48px;
        margin-left: 15%;
        clear: both;
        width: 19.132487%;
    }

    #knowledge9 {
        margin-top: 48px;
        margin-left: 6.222331%;
        clear: none;
        width: 19.378255%;
    }

    #knowledge11 {
        margin-top: 48px;
        margin-left: 6.132813%;
        clear: none;
        width: 19.466146%;
    }

    #knowledge8 {
        margin-top: 48px;
        margin-left: 6.220703%;
        clear: none;
        margin-right: 0%;
        width: 19.378255%;
    }

    #knowledge10 {
        margin-top: 48px;
        margin-left: 15%;
        clear: both;
        margin-right: 0%;
        width: 19.132487%;
    }

    #knowledge12 {
        margin-top: 48px;
        margin-left: 6.118164%;
        clear: none;
        width: 19.482422%;
    }

    #register_host_btn {
        margin-top: 380px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
        width: 53%;
    }

    #knowledge2 {
        margin-top: 57px;
        margin-left: 6.132813%;
        clear: none;
        width: 19.466146%;
    }

    #knowledge4 {
        margin-top: 48px;
        margin-left: 15%;
        clear: both;
        width: 19.132487%;
    }
}

@media only screen and (max-width: 500px) {
    #Header {
        height: 56px;
    }

    #text {
        font-size: 36px;
        margin-top: 10px;
    }

    #Hamburger {
        height: 20px;
        margin-top: 18px;
    }

    #host_pic {
        margin-top: 90px;
    }

    #host_info {
        width: 100%;
        padding-right: 16px;
        padding-left: 16px;
        margin-top: 24px;
    }

    #profession {
        margin-top: 24px;
        width: 87%;
        height: 87.375px;
        margin-left: auto;
        margin-right: auto;
    }

    #profession_input {
        height: 48px;
    }

    #city {
        margin-top: 24px;
        clear: none;
        height: 87.375px;
        margin-left: auto;
        margin-right: auto;
        width: 87%;
    }

    #city_input {
        height: 48px;
    }

    #since {
        margin-top: 24px;
        clear: none;
        height: 87px;
        margin-left: auto;
        margin-right: auto;
        width: 87%;
    }

    #since_select {
        height: 48px;
    }

    #knowledge1 {
        margin-top: 48px;
        margin-left: 6.128125%;
        clear: none;
        width: 28.003125%;
    }

    #knowledge2 {
        margin-top: 48px;
        margin-left: 2.33125%;
        clear: none;
        width: 29%;
    }

    #knowledge3 {
        margin-top: 48px;
        margin-left: 0.4875%;
        clear: none;
        width: 28%;
    }

    #knowledge4 {
        margin-top: 48px;
        margin-left: 6.128125%;
        clear: both;
        width: 28.003125%;
    }

    #knowledge5 {
        margin-top: 48px;
        margin-left: 2.33125%;
        clear: none;
        width: 27.2%;
        height: 19px;
    }

    #knowledge6 {
        margin-top: 48px;
        margin-left: 2.18125%;
        clear: none;
        width: 28.021875%;
    }

    #knowledge7 {
        margin-top: 48px;
        margin-left: 6.5%;
        clear: both;
        width: 27.63125%;
    }

    #knowledge8 {
        margin-top: 48px;
        margin-left: 2.33125%;
        clear: none;
        width: 27.2%;
    }

    #knowledge9 {
        margin-top: 48px;
        margin-left: 2.203125%;
        clear: none;
        width: 28%;
    }

    #knowledge10 {
        margin-top: 48px;
        margin-left: 6.128125%;
        clear: both;
        width: 30.334375%;
    }

    #knowledge11 {
        margin-top: 48px;
        margin-left: 0%;
        clear: none;
        width: 30.603125%;
    }

    #knowledge12 {
        margin-top: 48px;
        margin-left: 0.2%;
        clear: none;
        width: 30.68125%;
    }

    #register_host_btn {
        margin-top: 330px;
        height: 48px;
        font-size: 20px;
        width: 87%;
    }
}

