.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    padding-bottom: 200px;
}

#Header {
    float: left;
    height: 80px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    display: block;
    background-color: rgb(0, 148, 255);
}

#text {
    float: left;
    font-size: 48px;
    width: 245.87500494000003px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 6.131235%;
    margin-top: 16px;
    clear: none;
    min-height: 37px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Black';
    font-style: italic;
}

#Register_Graphic {
    float: none;
    height: 200px;
    margin-left: auto;
    margin-top: 151px;
    clear: none;
    width: 200px;
    margin-right: auto;
    background-image:url("img/jonathan_s.jpg");
    background-position: 50% 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

#text4 {
    float: none;
    font-size: 1em;
    width: 36.324723%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1.2em;
    margin-left: auto;
    margin-top: 41px;
    clear: none;
    min-height: 137px;
    color: rgb(81, 81, 81);
    font-family: 'Roboto Light';
    margin-right: auto;
}

#Address_Input {
    float: right;
    height: 93px;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 43px;
    clear: none;
    width: 36.532561%;
    margin-right: 31.734956%;
}

#text5 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    font-family: 'Roboto Light';
    color: rgb(81, 81, 81);
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
}

#textinput {
    float: none;
    height: 54.625px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    font-size: 1em;
    display: block;
    width: 100%;
    margin-top: 17px;
    margin-left: 0%;
    clear: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: rgb(119, 119, 119);
    font-family: Roboto;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-color: rgb(215, 215, 215);
    border-right-color: rgb(215, 215, 215);
    border-bottom-color: rgb(215, 215, 215);
    border-left-color: rgb(215, 215, 215);
    background-color: rgb(241, 241, 241);
}

#Email_Input {
    float: right;
    height: 93px;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 28px;
    clear: right;
    width: 36.532561%;
    margin-right: 31.733353%;
}

#text6 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    font-family: 'Roboto Light';
    color: rgb(81, 81, 81);
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
}

#textinput1 {
    float: none;
    height: 54.625px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    font-size: 1em;
    display: block;
    width: 100%;
    margin-top: 17px;
    margin-left: 0%;
    clear: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: rgb(119, 119, 119);
    font-family: Roboto;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-color: rgb(215, 215, 215);
    border-right-color: rgb(215, 215, 215);
    border-bottom-color: rgb(215, 215, 215);
    border-left-color: rgb(215, 215, 215);
    background-color: rgb(241, 241, 241);
}

#Language_Select {
    float: left;
    height: 93px;
    display: block;
    text-align: left;
    margin-left: 31.731893%;
    margin-top: 26px;
    clear: right;
    width: 36.429879%;
}

#select {
    float: none;
    height: 54.63px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    font-size: 1em;
    display: block;
    width: 100%;
    margin-top: 17px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    background-color: rgb(241, 241, 241);
}

#text7 {
    float: none;
    font-size: 1em;
    width: auto;
    height: 22px;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    color: rgb(81, 81, 81);
    font-family: 'Roboto Light';
}

body {
    font-family: Roboto;
    color: rgb(81, 81, 81);
}

#Menu {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 30px;
    clear: none;
    width: 324.671875px;
    margin-right: 6.132472%;
    display: block;
}

#text1 {
    float: left;
    font-size: 1em;
    width: 133.00000029px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    margin-right: 0%;
    font-family: Roboto;
    color: rgb(255, 255, 255);
}

#text2 {
    float: left;
    font-size: 1em;
    width: 49.00000476px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 7.195212%;
    margin-top: 0px;
    clear: none;
    min-height: 21px;
    font-family: Roboto;
    color: rgb(255, 255, 255);
    margin-right: 0%;
}

#text3 {
    float: left;
    font-size: 1em;
    width: 69.18750627px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 7.494441%;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    margin-right: 0%;
    font-family: Roboto;
    color: rgb(255, 255, 255);
}

#Add_Lang_btn {
    float: left;
    height: 54px;
    font-size: 18px;
    margin-left: 31.838493%;
    margin-top: 48px;
    clear: left;
    width: 36.579572%;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Roboto Medium';
    color: rgb(255, 255, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: rgb(255, 95, 0);
    margin-right: 0%;
    display: block;
}

#formgroup {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 31.793224%;
    margin-top: 56.5px;
    clear: left;
    width: 17.009353%;
    margin-right: 0%;
}

#input {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text8 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#formgroup1 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 2.432205%;
    margin-top: 56.5px;
    clear: none;
    width: 17.029147%;
    margin-right: 0%;
}

#input1 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text9 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#formgroup6 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 31.793224%;
    margin-top: 33px;
    clear: left;
    width: 17.009353%;
    margin-right: 0%;
}

#input6 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text14 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#formgroup2 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 31.845794%;
    margin-top: 33px;
    clear: left;
    width: 16.952445%;
    margin-right: 0%;
}

#input2 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text10 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#formgroup3 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 2.515093%;
    margin-top: 33px;
    clear: none;
    width: 16.948733%;
    margin-right: 0%;
}

#input3 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text11 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#formgroup8 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 31.845794%;
    margin-top: 31px;
    clear: left;
    width: 16.952445%;
    margin-right: 0%;
}

#input8 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text16 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#formgroup4 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 31.87354%;
    margin-top: 33px;
    clear: left;
    width: 16.925228%;
    margin-right: 0%;
}

#input4 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text12 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#formgroup5 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 2.398802%;
    margin-top: 33px;
    clear: none;
    width: 17.066261%;
    margin-right: 0%;
}

#input5 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text13 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#formgroup10 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 31.87354%;
    margin-top: 33px;
    clear: left;
    width: 16.928939%;
    margin-right: 0%;
}

#input10 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text18 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#formgroup7 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 2.273657%;
    margin-top: 33px;
    clear: none;
    width: 17.029147%;
    margin-right: 0%;
}

#input7 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text15 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#formgroup9 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 2.400701%;
    margin-top: 33px;
    clear: none;
    width: 16.948733%;
    margin-right: 0%;
}

#input9 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text17 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#formgroup11 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 2.275117%;
    margin-top: 33px;
    clear: none;
    width: 17.066261%;
    margin-right: 0%;
}

#input11 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text19 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#Hamburger {
    float: left;
    width: auto;
    max-width: none;
    height: 25px;
    margin-left: 12.141958%;
    margin-top: 23px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0%;
    display: none;
}

@media only screen and (max-width: 960px) {
    #Menu {
        display: none;
    }

    #Hamburger {
        display: block;
        margin-left: 0px;
        margin-right: 5%;
        float: right;
        margin-top: 28px;
        clear: none;
    }

    #text4 {
        height: auto;
        margin-top: 41px;
        margin-left: auto;
        clear: none;
        width: 70%;
        margin-right: auto;
        min-height: 86px;
    }

    #Address_Input {
        margin-right: auto;
        margin-top: 77px;
        clear: none;
        margin-left: auto;
        float: none;
        width: 70%;
    }

    #Email_Input {
        margin-right: auto;
        margin-top: 28px;
        clear: none;
        margin-left: auto;
        float: none;
        width: 70%;
    }

    #Language_Select {
        margin-top: 26px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
        width: 70%;
    }

    #formgroup {
        margin-top: 57px;
        margin-left: 15%;
        clear: none;
        width: 19.132487%;
    }

    #formgroup2 {
        margin-top: 57px;
        margin-left: 6.222331%;
        clear: none;
        width: 19.046224%;
    }

    #formgroup4 {
        margin-top: 48px;
        margin-left: 6.132813%;
        clear: none;
        width: 19.466146%;
    }

    #formgroup5 {
        margin-top: 48px;
        margin-left: 6.118164%;
        clear: none;
        width: 19.482422%;
    }

    #formgroup6 {
        margin-top: 48px;
        margin-left: 15%;
        clear: both;
        width: 19.132487%;
    }

    #formgroup8 {
        margin-top: 48px;
        margin-left: 6.222331%;
        clear: none;
        width: 19.378255%;
    }

    #formgroup10 {
        margin-top: 48px;
        margin-left: 6.132813%;
        clear: none;
        width: 19.466146%;
    }

    #formgroup7 {
        margin-top: 48px;
        margin-left: 6.220703%;
        clear: none;
        margin-right: 0%;
        width: 19.378255%;
    }

    #formgroup9 {
        margin-top: 48px;
        margin-left: 15%;
        clear: both;
        margin-right: 0%;
        width: 19.132487%;
    }

    #formgroup11 {
        margin-top: 48px;
        margin-left: 6.118164%;
        clear: none;
        width: 19.482422%;
    }

    #Add_Lang_btn {
        margin-top: 380px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
        width: 53%;
    }

    #formgroup1 {
        margin-top: 57px;
        margin-left: 6.132813%;
        clear: none;
        width: 19.466146%;
    }

    #formgroup3 {
        margin-top: 48px;
        margin-left: 15%;
        clear: both;
        width: 19.132487%;
    }
}

@media only screen and (max-width: 500px) {
    #Header {
        height: 56px;
    }

    #text {
        font-size: 36px;
        margin-top: 10px;
    }

    #Hamburger {
        height: 20px;
        margin-top: 18px;
    }

    #Register_Graphic {
        margin-top: 90px;
    }

    #text4 {
        width: 100%;
        padding-right: 16px;
        padding-left: 16px;
        margin-top: 24px;
    }

    #Address_Input {
        margin-top: 24px;
        width: 87%;
        height: 87.375px;
        margin-left: auto;
        margin-right: auto;
    }

    #textinput {
        height: 48px;
    }

    #Email_Input {
        margin-top: 24px;
        clear: none;
        height: 87.375px;
        margin-left: auto;
        margin-right: auto;
        width: 87%;
    }

    #textinput1 {
        height: 48px;
    }

    #Language_Select {
        margin-top: 24px;
        clear: none;
        height: 87px;
        margin-left: auto;
        margin-right: auto;
        width: 87%;
    }

    #select {
        height: 48px;
    }

    #formgroup {
        margin-top: 48px;
        margin-left: 6.128125%;
        clear: none;
        width: 28.003125%;
    }

    #formgroup1 {
        margin-top: 48px;
        margin-left: 2.33125%;
        clear: none;
        width: 29%;
    }

    #formgroup2 {
        margin-top: 48px;
        margin-left: 0.4875%;
        clear: none;
        width: 28%;
    }

    #formgroup3 {
        margin-top: 48px;
        margin-left: 6.128125%;
        clear: both;
        width: 28.003125%;
    }

    #formgroup4 {
        margin-top: 48px;
        margin-left: 2.33125%;
        clear: none;
        width: 27.2%;
        height: 19px;
    }

    #formgroup5 {
        margin-top: 48px;
        margin-left: 2.18125%;
        clear: none;
        width: 28.021875%;
    }

    #formgroup6 {
        margin-top: 48px;
        margin-left: 6.5%;
        clear: both;
        width: 27.63125%;
    }

    #formgroup7 {
        margin-top: 48px;
        margin-left: 2.33125%;
        clear: none;
        width: 27.2%;
    }

    #formgroup8 {
        margin-top: 48px;
        margin-left: 2.203125%;
        clear: none;
        width: 28%;
    }

    #formgroup9 {
        margin-top: 48px;
        margin-left: 6.128125%;
        clear: both;
        width: 30.334375%;
    }

    #formgroup10 {
        margin-top: 48px;
        margin-left: 0%;
        clear: none;
        width: 30.603125%;
    }

    #formgroup11 {
        margin-top: 48px;
        margin-left: 0.2%;
        clear: none;
        width: 30.68125%;
    }

    #Add_Lang_btn {
        margin-top: 330px;
        height: 48px;
        font-size: 20px;
        width: 75%;
    }
}

