.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    padding-bottom: 200px;
}

#Header {
    float: left;
    height: 80px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    display: block;
    background-color: rgb(0, 148, 255);
}

#text {
    float: left;
    font-size: 48px;
    width: 245.87500494000003px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 6.131235%;
    margin-top: 16px;
    clear: none;
    min-height: 37px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Black';
    font-style: italic;
}

#Register_Graphic {
    float: none;
    height: 200px;
    margin-left: auto;
    margin-top: 151px;
    clear: none;
    width: 200px;
    background-color: rgb(18, 112, 178);
    margin-right: auto;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    background-image:url("img/girl-s.jpg");
    background-position: 50% 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

#Name_Input {
    float: right;
    height: 93px;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 43px;
    clear: none;
    width: 36.532561%;
    margin-right: 31.734956%;
}

#textinput {
    float: none;
    height: 54.625px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    font-size: 1em;
    display: block;
    width: 100%;
    margin-top: 17px;
    margin-left: 0%;
    clear: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: rgb(119, 119, 119);
    font-family: Roboto;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-color: rgb(241, 241, 241);
    border-right-color: rgb(241, 241, 241);
    border-bottom-color: rgb(241, 241, 241);
    border-left-color: rgb(241, 241, 241);
    background-color: rgb(241, 241, 241);
}

#text6 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    font-family: 'Roboto Light';
    color: rgb(81, 81, 81);
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
}

#text5 {
    float: none;
    font-size: 1em;
    width: 31.734956%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1.2em;
    margin-left: auto;
    margin-top: 41px;
    clear: none;
    min-height: 137px;
    color: rgb(81, 81, 81);
    font-family: 'Roboto Light';
    margin-right: auto;
}

#Address_Input {
    float: right;
    height: 93px;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 28px;
    clear: right;
    width: 36.532561%;
    margin-right: 31.733719%;
}

#text7 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    font-family: 'Roboto Light';
    color: rgb(81, 81, 81);
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
}

#textinput1 {
    float: none;
    height: 54.625px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    font-size: 1em;
    display: block;
    width: 100%;
    margin-top: 17px;
    margin-left: 0%;
    clear: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: rgb(119, 119, 119);
    font-family: Roboto;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-color: rgb(215, 215, 215);
    border-right-color: rgb(215, 215, 215);
    border-bottom-color: rgb(215, 215, 215);
    border-left-color: rgb(215, 215, 215);
    background-color: rgb(241, 241, 241);
}

#Email_Input {
    float: right;
    height: 93px;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 28px;
    clear: right;
    width: 36.532561%;
    margin-right: 31.733719%;
}

#text8 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    font-family: 'Roboto Light';
    color: rgb(81, 81, 81);
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
}

#textinput2 {
    float: none;
    height: 54.625px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    font-size: 1em;
    display: block;
    width: 100%;
    margin-top: 17px;
    margin-left: 0%;
    clear: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: rgb(119, 119, 119);
    font-family: Roboto;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-color: rgb(215, 215, 215);
    border-right-color: rgb(215, 215, 215);
    border-bottom-color: rgb(215, 215, 215);
    border-left-color: rgb(215, 215, 215);
    background-color: rgb(241, 241, 241);
}

#Language_Select {
    float: left;
    height: 93px;
    display: block;
    text-align: left;
    margin-left: 31.730008%;
    margin-top: 26px;
    clear: right;
    width: 27.998812%;
}

#select {
    float: none;
    height: 54.63px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    font-size: 1em;
    display: block;
    width: 100%;
    margin-top: 17px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    background-color: rgb(241, 241, 241);
}

#text9 {
    float: none;
    font-size: 1em;
    width: auto;
    height: 22px;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    color: rgb(81, 81, 81);
    font-family: 'Roboto Light';
}

body {
    font-family: Roboto;
    color: rgb(81, 81, 81);
}

#Add_Lang_btn {
    float: left;
    height: 54px;
    font-size: 18px;
    margin-left: 1.155483%;
    margin-top: 65px;
    clear: none;
    width: 7.378266%;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: rgb(255, 95, 0);
    font-family: 'Roboto Medium';
    color: rgb(255, 255, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#Menu {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 30px;
    clear: none;
    width: 569.171875px;
    margin-right: 6.132472%;
    display: block;
}

#text1 {
    float: left;
    font-size: 1em;
    width: 133.00000029px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    margin-right: 0%;
    font-family: Roboto;
    color: rgb(255, 255, 255);
}

#text2 {
    float: left;
    font-size: 1em;
    width: 120.99999928312499px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 8.813777%;
    margin-top: 0px;
    clear: none;
    min-height: 21px;
    font-family: Roboto;
    color: rgb(255, 255, 255);
    margin-right: 0%;
}

#text3 {
    float: left;
    font-size: 1em;
    width: 49.00000476px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 10.557279%;
    margin-top: 0px;
    clear: none;
    min-height: 21px;
    font-family: Roboto;
    color: rgb(255, 255, 255);
    margin-right: 0%;
}

#text4 {
    float: left;
    font-size: 1em;
    width: 69.18750627px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 7.49278%;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    margin-right: 0%;
    font-family: Roboto;
    color: rgb(255, 255, 255);
}

#Add_Lang_btn1 {
    float: left;
    height: 54px;
    font-size: 18px;
    margin-left: 31.791865%;
    margin-top: 72px;
    clear: left;
    width: 36.579572%;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Roboto Medium';
    color: rgb(255, 255, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: rgb(255, 95, 0);
    margin-right: 0%;
    display: block;
}

#formgroup {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 31.791865%;
    margin-top: 56.5px;
    clear: left;
    width: 17.009353%;
    margin-right: 0%;
}

#input {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text10 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#formgroup1 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 2.432205%;
    margin-top: 56.5px;
    clear: none;
    width: 17.029147%;
    margin-right: 0%;
}

#input1 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text11 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#formgroup6 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 31.791865%;
    margin-top: 33px;
    clear: left;
    width: 17.009353%;
    margin-right: 0%;
}

#input6 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text16 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#formgroup2 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 31.845061%;
    margin-top: 33px;
    clear: left;
    width: 16.952445%;
    margin-right: 0%;
}

#input2 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text12 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#formgroup3 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 2.515093%;
    margin-top: 33px;
    clear: none;
    width: 16.948733%;
    margin-right: 0%;
}

#input3 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text13 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#formgroup8 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 31.845061%;
    margin-top: 31px;
    clear: left;
    width: 16.952445%;
    margin-right: 0%;
}

#input8 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text18 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#formgroup4 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 31.873515%;
    margin-top: 33px;
    clear: left;
    width: 16.925228%;
    margin-right: 0%;
}

#input4 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text14 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#formgroup5 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 2.398802%;
    margin-top: 33px;
    clear: none;
    width: 17.066261%;
    margin-right: 0%;
}

#input5 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text15 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#formgroup10 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 31.873515%;
    margin-top: 33px;
    clear: left;
    width: 16.928939%;
    margin-right: 0%;
}

#input10 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text20 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#formgroup7 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 2.395091%;
    margin-top: 33px;
    clear: none;
    width: 17.029147%;
    margin-right: 0px;
}

#input7 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text17 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#formgroup9 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 2.563341%;
    margin-top: 31px;
    clear: none;
    width: 16.948733%;
    margin-right: 0%;
}

#input9 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text19 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#formgroup11 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 2.320863%;
    margin-top: 33px;
    clear: none;
    width: 17.066261%;
    margin-right: 0%;
}

#input11 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text21 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    margin-left: 16px;
    font-family: 'Roboto Light';
}

#Hamburger {
    float: left;
    width: auto;
    max-width: none;
    height: 25px;
    margin-left: 2.142258%;
    margin-top: 30px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0%;
    display: none;
}

@media only screen and (max-width: 960px) {
    #Menu {
        display: none;
    }

    #Hamburger {
        display: block;
        margin-left: 0px;
        margin-right: 5%;
        float: right;
        margin-top: 28px;
        clear: none;
    }

    #text5 {
        height: auto;
        margin-top: 41px;
        margin-left: auto;
        clear: none;
        width: 70.470378%;
        margin-right: auto;
        min-height: 82px;
    }

    #Name_Input {
        margin-top: 77px;
        clear: none;
        margin-left: auto;
        float: none;
        width: 70%;
        margin-right: auto;
    }

    #Address_Input {
        margin-top: 28px;
        clear: none;
        margin-left: auto;
        float: none;
        width: 70%;
        margin-right: auto;
    }

    #Email_Input {
        margin-top: 28px;
        clear: none;
        margin-left: auto;
        float: none;
        width: 70%;
        margin-right: auto;
    }

    #Language_Select {
        margin-top: 26px;
        margin-left: 15%;
        clear: none;
        width: 53.372396%;
    }

    #formgroup {
        margin-top: 57px;
        margin-left: 15%;
        clear: both;
        width: 19.132487%;
    }

    #formgroup2 {
        margin-top: 57px;
        margin-left: 6.326497%;
        clear: none;
        width: 19.275716%;
    }

    #formgroup4 {
        margin-top: 48px;
        margin-left: 6.132813%;
        clear: none;
        width: 19.466146%;
    }

    #formgroup5 {
        margin-top: 48px;
        margin-left: 6.118164%;
        clear: none;
        width: 19.482422%;
    }

    #formgroup6 {
        margin-top: 48px;
        margin-left: 14.788411%;
        clear: both;
        width: 19.344076%;
    }

    #formgroup8 {
        margin-top: 48px;
        margin-left: 6.118164%;
        clear: none;
        width: 19.482422%;
    }

    #formgroup10 {
        margin-top: 48px;
        margin-left: 6.015625%;
        clear: none;
        width: 19.627279%;
        margin-right: 0%;
    }

    #formgroup7 {
        margin-top: 46px;
        margin-left: 5.97168%;
        clear: none;
        margin-right: 0%;
        width: 19.627279%;
    }

    #formgroup9 {
        margin-top: 46px;
        margin-left: 14.635417%;
        clear: both;
        margin-right: 0%;
        width: 19.49707%;
    }

    #formgroup11 {
        margin-top: 48px;
        margin-left: 5.913086%;
        clear: none;
        width: 19.614258%;
    }

    #Add_Lang_btn1 {
        margin-top: 500px;
        margin-left: auto;
        clear: none;
        width: 53%;
        float: none;
        margin-right: auto;
    }

    #Add_Lang_btn {
        margin-top: 65px;
        margin-left: 1.861979%;
        clear: none;
        width: 15.185547%;
    }

    #formgroup1 {
        margin-top: 57px;
        margin-left: 6.220703%;
        clear: none;
        width: 19.378255%;
    }

    #formgroup3 {
        margin-top: 48px;
        margin-left: 14.666341%;
        clear: both;
        width: 19.466146%;
    }
}

@media only screen and (max-width: 500px) {
    #Register_Graphic {
        background-image:url("img/girl-s.jpg");
        background-position: 50% 0%;
        background-repeat: repeat;
        background-attachment: scroll;
        -webkit-background-size: cover;
        background-size: cover;
        margin-top: 90px;
    }

    #Header {
        height: 56px;
    }

    #text {
        font-size: 36px;
        margin-top: 10px;
    }

    #Hamburger {
        height: 20px;
        margin-top: 18px;
    }

    #text5 {
        margin-top: 24px;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }

    #Name_Input {
        margin-top: 24px;
        clear: none;
        margin-left: auto;
        width: 87%;
        margin-right: auto;
        height: 87.375px;
    }

    #Address_Input {
        width: 87%;
        margin-top: 24px;
        clear: none;
        height: 87.375px;
        margin-left: auto;
        margin-right: auto;
    }

    #Email_Input {
        width: 87%;
        margin-top: 24px;
        clear: none;
        height: 87.375px;
        margin-left: auto;
        margin-right: auto;
    }

    #Language_Select {
        margin-top: 24px;
        margin-left: 6.13125%;
        clear: none;
        width: 62.240625%;
        height: 87px;
    }

    #Add_Lang_btn {
        width: 23.26875%;
        margin-top: 63px;
        margin-left: 2.09375%;
        clear: none;
        height: 48px;
        font-size: 20px;
    }

    #formgroup {
        margin-top: 48px;
        margin-left: 6.128125%;
        clear: both;
        width: 28.003125%;
    }

    #formgroup1 {
        margin-top: 48px;
        margin-left: 3.6%;
        clear: none;
        width: 25.640625%;
    }

    #formgroup3 {
        margin-top: 48px;
        margin-left: 6.5%;
        clear: both;
        width: 27.63125%;
    }

    #formgroup6 {
        margin-top: 48px;
        margin-left: 6.128125%;
        clear: both;
        height: 19px;
        width: 28.003125%;
    }

    #formgroup9 {
        margin-top: 48px;
        margin-left: 6.5%;
        clear: both;
        height: 19px;
        width: 27.63125%;
    }

    #formgroup4 {
        margin-top: 48px;
        margin-left: 3.6%;
        clear: none;
        height: 21px;
        width: 25.946875%;
    }

    #formgroup2 {
        margin-top: 48px;
        margin-left: 5.365625%;
        clear: none;
        width: 24.696875%;
    }

    #formgroup5 {
        margin-top: 48px;
        margin-left: 4.7875%;
        clear: none;
        height: 19px;
        width: 25.034375%;
    }

    #formgroup7 {
        margin-top: 48px;
        margin-left: 3.6%;
        clear: none;
        height: auto;
        width: 25.946875%;
    }

    #formgroup8 {
        margin-top: 48px;
        margin-left: 4.5875%;
        clear: none;
        height: auto;
        width: 25.234375%;
    }

    #formgroup10 {
        margin-top: 48px;
        margin-left: 3.6%;
        clear: none;
        height: 19px;
        width: 25.640625%;
    }

    #formgroup11 {
        margin-top: 48px;
        margin-left: 4.5875%;
        clear: none;
        height: auto;
        width: 25.234375%;
    }

    #Add_Lang_btn1 {
        margin-top: 455.625px;
        clear: none;
        height: 48px;
        font-size: 20px;
        width: 75%;
    }

    #textinput {
        height: 48px;
    }

    #textinput1 {
        height: 48px;
    }

    #textinput2 {
        height: 48px;
    }

    #select {
        height: 48px;
    }
}

