.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    padding-bottom: 200px;
    position: relative;
}

#Header {
    float: left;
    height: 80px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    display: block;
    background-color: rgb(0, 148, 255);
}

#text {
    float: left;
    font-size: 48px;
    width: 245.87500494000003px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 6.131235%;
    margin-top: 16px;
    clear: none;
    min-height: 37px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Black';
    font-style: italic;
}

body {
    font-family: Roboto;
    color: rgb(81, 81, 81);
}

#Menu {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 30px;
    clear: none;
    width: 569.171875px;
    margin-right: 6.132472%;
    display: block;
}

#text1 {
    float: left;
    font-size: 1em;
    width: 164.296875px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 30.469157%;
    margin-top: 0px;
    clear: none;
    min-height: 21px;
    font-family: 'Roboto Black';
    color: rgb(255, 255, 255);
    margin-right: 0%;
}

#text3 {
    float: left;
    font-size: 1em;
    width: 69.18750627px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 7.494441%;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    margin-right: 0%;
    font-family: Roboto;
    color: rgb(255, 255, 255);
}

#Add_Lang_btn1 {
    float: none;
    height: 64px;
    font-size: 18px;
    clear: none;
    width: 48.849466%;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Roboto Medium';
    color: rgb(255, 255, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: block;
    background-color: rgb(97, 204, 0);
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
}

#box {
    float: left;
    height: 351px;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    width: 100%;
    background-image:url("img/breakfast_blur.jpg");
    background-position: 50% 50%;
    background-repeat: repeat;
    background-attachment: scroll;
    -webkit-background-size: 100%;
    background-size: 100%;
}

#text2 {
    float: left;
    font-size: 1em;
    width: 49.00000476px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 4.658632%;
    margin-top: 0px;
    clear: none;
    min-height: 21px;
    font-family: Roboto;
    color: rgb(255, 255, 255);
    margin-right: 0%;
}

#box8 {
    float: left;
    height: 48px;
    margin-left: 25.793003%;
    margin-top: 16px;
    clear: both;
    width: 48px;
    margin-right: 0%;
    background-color: rgb(178, 178, 178);
}

#text6 {
    float: left;
    font-size: 20px;
    width: 17.066261%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 25.726198%;
    margin-top: 31px;
    clear: both;
    min-height: 23px;
    font-family: 'Roboto Black';
    margin-right: 0%;
}

#box9 {
    float: left;
    height: 48px;
    margin-left: 2.137767%;
    margin-top: 16px;
    clear: none;
    width: 48px;
    margin-right: 0%;
    background-color: rgb(178, 178, 178);
}

#box10 {
    float: left;
    height: 48px;
    margin-left: 2.132819%;
    margin-top: 16px;
    clear: none;
    width: 48px;
    margin-right: 0%;
    background-color: rgb(178, 178, 178);
}

#box11 {
    float: left;
    height: 48px;
    margin-left: 2.053642%;
    margin-top: 16px;
    clear: none;
    width: 48px;
    margin-right: 0%;
    background-color: rgb(178, 178, 178);
}

#box12 {
    float: left;
    height: 48px;
    margin-left: 1.829721%;
    margin-top: 16px;
    clear: none;
    width: 48px;
    margin-right: 0%;
    background-color: rgb(178, 178, 178);
}

#Add_Lang_btn {
    float: none;
    height: 64px;
    font-size: 18px;
    clear: none;
    width: 48.849466%;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Roboto Medium';
    color: rgb(255, 255, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: block;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 797px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 95, 0);
}

#formgroup {
    float: left;
    height: 150px;
    display: block;
    text-align: left;
    margin-left: 25.621041%;
    margin-top: 38px;
    clear: both;
    width: 48.801217%;
}

#textinput {
    float: none;
    height: 6.9140625em;
    padding-top: 16px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    font-size: 1em;
    display: block;
    width: 100%;
    margin-top: 17px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    background-color: rgb(241, 241, 241);
}

#text7 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#Hamburger {
    float: left;
    width: auto;
    max-width: none;
    height: 25px;
    margin-left: 3.228368%;
    margin-top: 30px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0%;
    display: none;
}

#box1 {
    float: left;
    height: 253px;
    margin-left: 0%;
    margin-top: 47px;
    clear: none;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: block;
    background-color: rgba(255, 255, 255, 0.901961);
    margin-right: 0%;
}

#box2 {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 23px;
    clear: none;
    width: 100%;
    margin-right: auto;
}

#Register_Graphic {
    float: left;
    height: 200px;
    margin-left: 20%;
    margin-top: 0px;
    clear: none;
    width: 200px;
    margin-right: 0px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    display: block;
    background-image:url("img/jonathan_s.jpg");
    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
}

#text4 {
    float: left;
    font-size: 32px;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 3.49%;
    margin-top: 0px;
    clear: none;
    min-height: 32px;
    font-family: 'Roboto Black';
    margin-right: 0%;
    display: block;
}

#box3 {
    float: left;
    height: auto;
    margin-left: -49.87%;
    margin-top: 40px;
    clear: none;
    width: 20%;
    margin-right: 0%;
    min-height: 0px;
    margin-bottom: 0px;
}

#box4 {
    float: left;
    height: 30px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0%;
    display: block;
    background-color: rgb(255, 206, 0);
}

#box5 {
    float: left;
    height: 30px;
    margin-left: 10%;
    margin-top: 0px;
    clear: none;
    width: 30.000001110000003px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0%;
    display: block;
    background-color: rgb(0, 206, 255);
}

#box6 {
    float: left;
    height: 30px;
    margin-left: 10%;
    margin-top: 0px;
    clear: none;
    width: 30.000001110000003px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0%;
    display: block;
    background-color: rgb(97, 204, 0);
}

#box7 {
    float: left;
    height: 30px;
    margin-left: 10%;
    margin-top: 0px;
    clear: none;
    width: 30.000001110000003px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0%;
    display: block;
    background-color: rgb(255, 147, 0);
}

#text5 {
    float: left;
    font-size: 1em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.2em;
    margin-left: -50%;
    margin-top: 80px;
    clear: none;
    min-height: 118px;
    color: rgb(81, 81, 81);
    font-family: 'Roboto Light';
    margin-right: 0px;
    display: block;
    margin-bottom: 0px;
}

@media only screen and (max-width: 960px) {
    #Hamburger {
        display: block;
        margin-left: 0px;
        margin-right: 5%;
        float: right;
        margin-top: 28px;
        clear: none;
    }

    #Menu {
        display: none;
    }

    #Register_Graphic {
        margin-left: 6%;
    }

    #text4 {
        height: auto;
        clear: none;
        margin-right: 0px;
        float: left;
        min-height: 0px;
        font-size: 32px;
        width: 50%;
    }

    #box3 {
        float: left;
        clear: none;
        height: 30px;
        width: 204.28125119999999px;
    }

    #box4 {
        margin-left: 0%;
        margin-right: 0px;
        float: left;
        clear: none;
        margin-top: 0px;
    }

    #box5 {
        margin-left: 12%;
        margin-right: 0px;
        float: left;
        clear: none;
        margin-top: 0px;
    }

    #box6 {
        margin-left: 15%;
        margin-right: 0px;
        float: left;
        clear: none;
        margin-top: 0px;
    }

    #box7 {
        margin-left: 86.216919%;
        margin-right: 0px;
        float: left;
        clear: none;
        margin-top: -30px;
    }

    #text5 {
        clear: none;
        height: auto;
        float: left;
    }

    #text6 {
        margin-left: 5.999349%;
        margin-top: 31px;
        clear: both;
    }

    #box8 {
        margin-left: 5.999349%;
        margin-top: 16px;
        clear: both;
    }

    #formgroup {
        margin-left: auto;
        width: 87.866211%;
        margin-right: auto;
        float: none;
        clear: none;
        margin-top: 587px;
    }

    #box {
        margin-top: 0px;
        margin-left: 0%;
        clear: both;
    }

    #Add_Lang_btn {
        margin-top: 60px;
        clear: none;
        width: 53%;
    }

    #Add_Lang_btn1 {
        width: 53%;
    }
}

