.hostpage #text1 {
    float: left;
    font-size: 1em;
    width: 180.140625px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 27.652565%;
    margin-top: 0px;
    clear: none;
    min-height: 21px;
    font-family: 'Roboto Black';
    color: rgb(255, 255, 255);
    margin-right: 0%;
    display: block;
}

.hostpage #text3 {
    float: left;
    font-size: 1em;
    width: 69.18750627px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 7.499931%;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    margin-right: 0%;
    font-family: Roboto;
    color: rgb(255, 255, 255);
}

.hostpage #available_btn {
    float: left;
    height: 64px;
    font-size: 18px;
    clear: both;
    width: 24.244111%;
    border-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Roboto Medium';
    color: rgb(255, 255, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: block;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 48px;
    margin-left: 25.597735%;
    margin-right: 0px;
    background-color: #777777;
}

.hostpage #available_btn.green {
    background-color: rgb(97, 204, 0);
}



.hostpage #box {
    float: left;
    height: 453px;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    width: 100%;
    background-image:url("/img/breakfast_blur.jpg");
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: repeat repeat;
}

.hostpage #text2 {
    float: left;
    font-size: 1em;
    width: 49.00000476px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 4.677849%;
    margin-top: 0px;
    clear: none;
    min-height: 21px;
    font-family: Roboto;
    color: rgb(255, 255, 255);
    margin-right: 0%;
}

.hostpage #transportation_btn {
    float: left;
    height: 64px;
    font-size: 18px;
    clear: none;
    width: 24.244111%;
    border-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Roboto Medium';
    color: rgb(255, 255, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: block;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 48px;
    margin-left: 4.748921%;
    margin-right: 0px;
    background-color: #777777;
}

.hostpage #transportation_btn.green {
    background-color: rgb(97, 204, 0);
}

.hostpage #Guest1_pic {
    float: left;
    height: 80px;
    margin-left: 25.668145%;
    margin-top: 32px;
    clear: both;
    width: 80px;
    margin-right: 0px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    display: block;
    background-image:url("/img/girl-s.jpg");
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 10%;
    background-repeat: no-repeat no-repeat;
}

.hostpage #guest1_username {
    float: left;
    font-size: 24px;
    width: 32.885491%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 1.045378%;
    margin-top: 32px;
    clear: none;
    min-height: 26px;
    font-family: 'Roboto Black';
    margin-right: 0%;
    display: block;
    color: rgb(81, 81, 81);
}

.hostpage #interests {
    float: left;
    font-size: 1em;
    width: 9.606344%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: -32.878416%;
    margin-top: 76px;
    clear: none;
    min-height: 0px;
    margin-right: 0%;
}

.hostpage #interest_icon_1 {
    float: left;
    height: 48px;
    margin-left: -22.24203%;
    margin-top: 76px;
    clear: none;
    width: 48px;
    background-color: rgb(178, 178, 178);
}

.hostpage #interest_icon_2 {
    float: left;
    height: 48px;
    margin-left: -16.016%;
    margin-top: 76px;
    clear: none;
    width: 48px;
    background-color: rgb(178, 178, 178);
    margin-right: 0%;
}

.hostpage #interest_icon_3 {
    float: left;
    height: 48px;
    margin-left: -9.926294%;
    margin-top: 76px;
    clear: none;
    width: 48px;
    margin-right: 0%;
    background-color: rgb(178, 178, 178);
}

.hostpage #interest_icon_4 {
    float: left;
    height: 48px;
    margin-left: -3.793145%;
    margin-top: 76px;
    clear: none;
    width: 48px;
    margin-right: 0%;
    background-color: rgb(178, 178, 178);
}

.hostpage #accept_btn1 {
    float: right;
    height: 48px;
    font-size: 18px;
    clear: both;
    width: 10.149446%;
    border-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Roboto Medium';
    color: rgb(255, 255, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: block;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: -48px;
    margin-left: 0px;
    margin-right: 21.510966%;
    background-color: rgb(97, 204, 0);
}

.hostpage #interested_guests_label {
    float: left;
    font-size: 20px;
    width: 31.733719%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 25.596237%;
    margin-top: 25px;
    clear: both;
    min-height: 37px;
}

.hostpage #Guest2_pic {
    float: left;
    height: 80px;
    margin-left: 25.720012%;
    margin-top: 85px;
    clear: none;
    width: 80px;
    margin-right: 0px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    display: block;
    background-image:url("/img/Eric.jpg");
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 10%;
    background-repeat: no-repeat no-repeat;
}

.hostpage #guest2_username {
    float: left;
    font-size: 24px;
    width: 32.885491%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 1.044141%;
    margin-top: 85px;
    clear: none;
    min-height: 26px;
    font-family: 'Roboto Black';
    margin-right: 0%;
    display: block;
    color: rgb(81, 81, 81);
}

.hostpage #interests1 {
    float: left;
    font-size: 1em;
    width: 9.606344%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: -32.876918%;
    margin-top: 129px;
    clear: none;
    min-height: 0px;
    margin-right: 0%;
}

.hostpage #interest_icon_5 {
    float: left;
    height: 48px;
    margin-left: -22.24203%;
    margin-top: 129px;
    clear: none;
    width: 48px;
    background-color: rgb(178, 178, 178);
    margin-right: 0%;
}

.hostpage #interest_icon_6 {
    float: left;
    height: 48px;
    margin-left: -16.014501%;
    margin-top: 129px;
    clear: none;
    width: 48px;
    margin-right: 0%;
    background-color: rgb(178, 178, 178);
}

.hostpage #accept_btn2 {
    float: right;
    height: 48px;
    font-size: 18px;
    clear: left;
    width: 10.149446%;
    border-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Roboto Medium';
    color: rgb(255, 255, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: block;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: -48px;
    margin-left: 0px;
    margin-right: 21.460031%;
    background-color: rgb(97, 204, 0);
}

.hostpage #Guest3_pic {
    float: left;
    height: 80px;
    margin-left: 25.786817%;
    margin-top: 88px;
    clear: none;
    width: 80px;
    margin-right: 0px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    display: block;
    background-image:url("/img/Stephanie.jpg");
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 100% 10%;
    background-repeat: no-repeat no-repeat;
}

.hostpage #guest3_username {
    float: left;
    font-size: 24px;
    width: 32.885491%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 1.044141%;
    margin-top: 88px;
    clear: none;
    min-height: 26px;
    font-family: 'Roboto Black';
    margin-right: 0%;
    display: block;
    color: rgb(81, 81, 81);
}

.hostpage #interests2 {
    float: left;
    font-size: 1em;
    width: 9.606344%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: -32.876918%;
    margin-top: 132px;
    clear: none;
    min-height: 0px;
    margin-right: 0%;
}

.hostpage #interest_icon_7 {
    float: left;
    height: 48px;
    margin-left: -22.24203%;
    margin-top: 132px;
    clear: none;
    width: 48px;
    margin-right: 0%;
    background-color: rgb(178, 178, 178);
}

.hostpage #interest_icon_8 {
    float: left;
    height: 48px;
    margin-left: -16.014501%;
    margin-top: 132px;
    clear: none;
    width: 48px;
    margin-right: 0%;
    background-color: rgb(178, 178, 178);
}

.hostpage #accept_btn3 {
    float: right;
    height: 48px;
    font-size: 18px;
    clear: right;
    width: 10.149446%;
    border-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Roboto Medium';
    color: rgb(255, 255, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: block;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 132px;
    margin-left: 0px;
    margin-right: 21.392617%;
    background-color: rgb(97, 204, 0);
}

.hostpage #interest_icon_9 {
    float: left;
    height: 48px;
    margin-left: -9.926294%;
    margin-top: 132px;
    clear: none;
    width: 48px;
    margin-right: 0%;
    background-color: rgb(178, 178, 178);
}

.hostpage #Hamburger {
    float: left;
    width: auto;
    max-width: none;
    height: 25px;
    margin-left: 4.428332%;
    margin-top: 23px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0%;
    display: none;
}

.hostpage #Profile_info_box {
    float: left;
    height: 253px;
    margin-left: 0%;
    margin-top: 47px;
    clear: none;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: block;
    background-color: rgba(255, 255, 255, 0.901961);
    margin-right: 0%;
}

.hostpage #Profile_info {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 23px;
    clear: none;
    width: 100%;
    margin-right: auto;
}

.hostpage #User_pic {
    float: left;
    height: 200px;
    margin-left: 20%;
    margin-top: 0px;
    clear: none;
    width: 200px;
    margin-right: 0px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    display: block;
    background-image:url("/img/jonathan_s.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 50% 10%;
    background-repeat: no-repeat no-repeat;
}

.hostpage #Username {
    float: left;
    font-size: 32px;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 3.49%;
    margin-top: 0px;
    clear: none;
    min-height: 32px;
    font-family: 'Roboto Black';
    margin-right: 0%;
    display: block;
}

.hostpage #Badges {
    float: left;
    height: auto;
    margin: 40px 0% 0px -49.87%;
    clear: none;
    width: 20%;
    min-height: 0px;
}

.hostpage #Badge1 {
    float: left;
    height: 30px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0%;
    display: block;
    background-color: rgb(255, 206, 0);
}

.hostpage #Badge2 {
    float: left;
    height: 30px;
    margin-left: 10%;
    margin-top: 0px;
    clear: none;
    width: 30.000001110000003px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0%;
    display: block;
    background-color: rgb(0, 206, 255);
}

.hostpage #Badge3 {
    float: left;
    height: 30px;
    margin-left: 10%;
    margin-top: 0px;
    clear: none;
    width: 30.000001110000003px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0%;
    display: block;
    background-color: rgb(97, 204, 0);
}

.hostpage #Badge4 {
    float: left;
    height: 30px;
    margin-left: 10%;
    margin-top: 0px;
    clear: none;
    width: 30.000001110000003px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0%;
    display: block;
    background-color: rgb(255, 147, 0);
}

.hostpage #Userinfo {
    float: left;
    font-size: 1em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.2em;
    margin: 80px 0px 0px -50%;
    clear: none;
    min-height: 118px;
    color: rgb(81, 81, 81);
    font-family: 'Roboto Light';
    display: block;
}

@media only screen and (max-width: 960px) {
    .hostpage #Hamburger {
        display: block;
        margin-left: 0px;
        margin-right: 5%;
        float: right;
        margin-top: 28px;
        clear: none;
    }

    .hostpage #Menu {
        display: none;
    }

    .hostpage #available_btn {
        margin-top: 47.5px;
        margin-left: 6.131185%;
        clear: both;
        width: 42.667643%;
    }

    .hostpage #transportation_btn {
        margin-top: 48px;
        margin-left: 2.529297%;
        clear: none;
        width: 42.537435%;
    }

    .hostpage #interested_guests_label {
        margin-left: 5.999349%;
        margin-top: 25px;
        clear: both;
    }

    .hostpage #Guest1_pic {
        margin-left: 5.999349%;
        margin-top: 32px;
        clear: both;
    }

    .hostpage #box {
        margin-top: 0px;
        margin-left: 0%;
        clear: both;
    }

    .hostpage #interests {
        margin-top: 76px;
        margin-left: -41.948242%;
        clear: none;
    }

    .hostpage #interest_icon_1 {
        margin-top: 76px;
        margin-left: -31.311849%;
        clear: none;
    }

    .hostpage #interest_icon_2 {
        margin-top: 76px;
        margin-left: -25.086263%;
        clear: none;
    }

    .hostpage #interest_icon_3 {
        margin-top: 76px;
        margin-left: -18.997396%;
        clear: none;
    }

    .hostpage #interest_icon_4 {
        margin-top: 76px;
        margin-left: -12.862956%;
        clear: none;
    }

    .hostpage #accept_btn1 {
        margin-right: 6.13444%;
        margin-top: -48px;
        clear: both;
        width: 36.533203%;
    }

    .hostpage #interests1 {
        margin-top: 129px;
        margin-left: -41.94987%;
        clear: none;
    }

    .hostpage #interest_icon_5 {
        margin-top: 129px;
        margin-left: -31.313477%;
        clear: none;
    }

    .hostpage #interest_icon_6 {
        margin-top: 129px;
        margin-left: -25.087891%;
        clear: none;
    }

    .hostpage #accept_btn2 {
        margin-right: 6.13444%;
        margin-top: -48px;
        clear: left;
        width: 36.533203%;
    }

    .hostpage #interests2 {
        margin-top: 132px;
        margin-left: -41.94987%;
        clear: none;
    }

    .hostpage #interest_icon_7 {
        margin-top: 132px;
        margin-left: -31.313477%;
        clear: none;
    }

    .hostpage #interest_icon_8 {
        margin-top: 132px;
        margin-left: -25.087891%;
        clear: none;
    }

    .hostpage #interest_icon_9 {
        margin-top: 132px;
        margin-left: -18.999023%;
        clear: none;
    }

    .hostpage #accept_btn3 {
        margin-right: 6.13444%;
        margin-top: 132px;
        clear: right;
        width: 36.533203%;
    }

    .hostpage #Guest2_pic {
        margin-left: 6%;
    }

    .hostpage #Guest3_pic {
        margin-left: 6%;
    }

    .hostpage #User_pic {
        margin-left: 6%;
    }

    .hostpage #Username {
        height: auto;
        clear: none;
        margin-right: 0px;
        float: left;
        min-height: 0px;
        font-size: 32px;
        width: 50%;
    }

    .hostpage #Badges {
        float: left;
        clear: none;
        height: 30px;
        width: 204.28125119999999px;
    }

    .hostpage #Badge1 {
        margin-left: 0%;
        margin-right: 0px;
        float: left;
        clear: none;
        margin-top: 0px;
    }

    .hostpage #Badge2 {
        margin-left: 12%;
        margin-right: 0px;
        float: left;
        clear: none;
        margin-top: 0px;
    }

    .hostpage #Badge3 {
        margin-left: 15%;
        margin-right: 0px;
        float: left;
        clear: none;
        margin-top: 0px;
    }

    .hostpage #Badge4 {
        margin-left: 86.216919%;
        margin-right: 0px;
        float: left;
        clear: none;
        margin-top: -30px;
    }

    .hostpage #Userinfo {
        clear: none;
        height: auto;
        float: left;
    }

    .hostpage #guest1_username {
        height: auto;
        width: 41.954753%;
    }

    .hostpage #guest2_username {
        height: auto;
        width: 41.95638%;
    }

    .hostpage #guest3_username {
        height: auto;
        width: 41.95638%;
    }
}

@media only screen and (max-width: 500px) {
    .hostpage #Profile_info_box {
        height: 203px;
        margin-top: 24px;
    }

    .hostpage #Profile_info {
        height: 159px;
        margin-left: auto;
        margin-right: auto;
    }

    .hostpage #User_pic {
        width: 120px;
        height: 120px;
        background-image:url("/img/jonathan_s.jpg");
        background-attachment: scroll;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: 50% 10%;
        background-repeat: no-repeat no-repeat;
    }

    .hostpage #Username {
        font-size: 20px;
        height: auto;
        width: 57.978125%;
    }

    .hostpage #Badges {
        width: 40.85625%;
        margin-top: 32px;
        margin-left: -57.846875%;
        clear: none;
    }

    .hostpage #Userinfo {
        height: auto;
        width: 57.978125%;
        min-height: 79px;
        font-size: 13px;
        margin-top: 80px;
        margin-left: -57.978125%;
        clear: none;
    }

    .hostpage #available_btn {
        height: 48px;
        font-size: 20px;
        margin-top: 36px;
    }

    .hostpage #transportation_btn {
        height: 48px;
        font-size: 20px;
        margin-top: 36px;
    }

    .hostpage #interested_guests_label {
        margin-top: 20px;
        margin-left: 5.996875%;
        clear: both;
        height: auto;
        width: 52.534375%;
        font-size: 16px;
        min-height: 0px;
    }

    .hostpage #box {
        height: 341px;
        margin-top: 0px;
        margin-left: 0%;
        clear: both;
    }

    .hostpage #Guest1_pic {
        margin-top: 24px;
        margin-left: 5.996875%;
        clear: both;
    }

    .hostpage #guest1_username {
        margin-top: 24px;
        margin-left: 2%;
        clear: none;
        height: auto;
        width: 44.26875%;
        font-size: 16px;
    }

    .hostpage #interests {
        margin-top: 60px;
        margin-left: -44.259375%;
        clear: none;
        font-size: 14px;
    }

    .hostpage #interest_icon_1 {
        margin-top: 60px;
        margin-left: -29.825%;
        clear: none;
        width: 24px;
        height: 24px;
    }

    .hostpage #interest_icon_2 {
        margin-top: 60px;
        margin-left: -23.6%;
        clear: none;
        width: 24px;
        height: 24px;
    }

    .hostpage #interest_icon_3 {
        margin-top: 60px;
        margin-left: -17.509375%;
        clear: none;
        width: 24px;
        height: 24px;
    }

    .hostpage #interest_icon_4 {
        margin-top: 60px;
        margin-left: -11.375%;
        clear: none;
        width: 24px;
        height: 24px;
    }

    .hostpage #accept_btn1 {
        margin-right: 6.134375%;
        margin-top: -80px;
        clear: both;
        width: 22.81875%;
    }

    .hostpage #Header {
        height: 56px;
    }

    .hostpage #text {
        font-size: 36px;
        margin-top: 10px;
    }

    .hostpage #Hamburger {
        height: 20px;
        margin-top: 18px;
    }

    .hostpage #interests1 {
        margin-top: 85px;
        margin-left: -45.3875%;
        clear: none;
        margin-right: 0%;
        font-size: 14px;
    }

    .hostpage #interest_icon_5 {
        margin-top: 85px;
        margin-left: -30.753125%;
        clear: none;
        margin-right: 0%;
        width: 24px;
        height: 24px;
    }

    .hostpage #interest_icon_6 {
        margin-top: 85px;
        margin-left: -24.528125%;
        clear: none;
        margin-right: 0%;
        width: 24px;
        height: 24px;
    }

    .hostpage #accept_btn2 {
        margin-right: 6.134375%;
        margin-top: 48px;
        clear: right;
        margin-left: 0px;
        width: 22.81875%;
    }

    .hostpage #interests2 {
        margin-top: 82px;
        margin-left: -44.84375%;
        clear: none;
        font-size: 14px;
        margin-right: 0%;
    }

    .hostpage #interest_icon_7 {
        margin-top: 82px;
        margin-left: -31.35625%;
        clear: none;
        margin-right: 0%;
        width: 24px;
        height: 24px;
    }

    .hostpage #interest_icon_8 {
        margin-top: 82px;
        margin-left: -25.13125%;
        clear: none;
        margin-right: 0%;
        height: 24px;
        width: 24px;
    }

    .hostpage #interest_icon_9 {
        margin-top: 82px;
        margin-left: -18.640625%;
        clear: none;
        margin-right: 0%;
        height: 24px;
        width: 24px;
    }

    .hostpage #accept_btn3 {
        margin-right: 6.1375%;
        margin-top: 48px;
        clear: right;
        margin-left: 0px;
        width: 22.815625%;
    }

    .hostpage #Guest2_pic {
        margin-top: 48px;
    }

    .hostpage #guest2_username {
        margin-top: 48px;
        font-size: 16px;
        height: auto;
        width: 45.221875%;
        margin-left: 2%;
    }

    .hostpage #Guest3_pic {
        margin-top: 48px;
        margin-left: 6%;
        clear: both;
    }

    .hostpage #guest3_username {
        margin-top: 48px;
        margin-left: 2%;
        clear: none;
        font-size: 16px;
        height: auto;
        width: 44.84375%;
    }
}

