<div class="hostpage">
    <div id="box" class="clearfix">
        <div id="Profile_info_box" class="clearfix">
            <div id="Profile_info" class="clearfix">
                <div id="User_pic" class="clearfix">
                </div>
                <p id="Username">
                    {{guideData.name}} &#x28;{{guideData.age}}&#x29;
                </p>
                <div id="Badges" class="clearfix">
                    <div *ngFor="#badge of guideData.badges; #j = index" id="Badge{{j+1}}" class="clearfix">
                    </div>
                </div>


                <p id="Userinfo">
                    {{guideData.bio}}<br />
                </p>
            </div>
        </div>

        <input id="available_btn" [ngClass]="{green: active}" (click)="toggleActive()" type="button" value="Available">

        <input id="transportation_btn" [ngClass]="{green: transport}" (click)="toggleTransport()" type="button" value="Transportation">

    </div>
    <p id="interested_guests_label" *ngIf="connectionRequests.length > 0">
        Guests interested in you&#x3a;<br />
    </p>

    <div *ngFor="#userData of connectionRequests; #i = index"  class="clearfix">
        <a id="Guest{{i+1}}_pic" href="profile tourist.html" class="clearfix">
        </a>
        <a id="guest{{i+1}}_username" href="profile tourist.html">
            {{userData.name}} &#x28;{{userData.age}}&#x29;
        </a>
        <p id="interests">
            Interests&#x3a;
        </p>
        <div *ngFor="#i of userData.interests" id="interest_icon_{{i+1}}" class="clearfix"></div>
        <input id="accept_btn1" (click)="acceptChat(userData)" type="button" value="Accept">
    </div>
</div>
