.login#Hero_Picture {
  float: left;
  height: 753px;
  margin-left: 0%;
  margin-top: 0px;
  clear: both;
  width: 100%;
  background-image:url("/img/city.jpg");
  background-attachment: scroll;
  background-position: 50% 60%;
  background-repeat: no-repeat no-repeat;
}

.login #Main_CTA {
  float: left;
  height: 65px;
  font-size: 24px;
  margin-left: 34.174584%;
  margin-top: 128px;
  clear: both;
  width: 31.728771%;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto Medium';
  color: rgb(81, 81, 81);
  display: block;
  text-align: left;
  padding-left: 16px;
}

.login #Main_CTA2 {
  float: left;
  height: 65px;
  font-size: 24px;
  margin-left: 34.242627%;
  margin-top: 36px;
  clear: both;
  width: 31.728771%;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  font-family: 'Roboto Medium';
  color: rgb(255, 255, 255);
  display: block;
  background-color: rgb(255, 95, 0);
  margin-right: 0%;
}

.login #Main_CTA1 {
  float: left;
  height: 65px;
  font-size: 24px;
  margin-left: 34.22407%;
  margin-top: 36px;
  clear: both;
  width: 31.728771%;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  font-family: 'Roboto Medium';
  color: rgb(81, 81, 81);
  display: block;
  text-align: left;
  padding-left: 16px;
  background-color: rgb(255, 255, 255);
  margin-right: 0%;
}
