.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    padding-bottom: 200px;
    position: relative;
}

#Header {
    float: left;
    height: 80px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    display: block;
    background-color: rgb(0, 148, 255);
}

#text {
    float: left;
    font-size: 48px;
    width: 245.87500494000003px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 6.131235%;
    margin-top: 16px;
    clear: none;
    min-height: 37px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Black';
    font-style: italic;
}

body {
    font-family: Roboto;
    color: rgb(81, 81, 81);
}

#Menu {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 30px;
    clear: none;
    width: 569.171875px;
    margin-right: 6.132472%;
    display: block;
}

#text1 {
    float: left;
    font-size: 1em;
    width: 164.296875px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 30.469157%;
    margin-top: 0px;
    clear: none;
    min-height: 21px;
    font-family: 'Roboto Black';
    color: rgb(255, 255, 255);
    margin-right: 0%;
}

#text3 {
    float: left;
    font-size: 1em;
    width: 69.18750627px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 7.494441%;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    margin-right: 0%;
    font-family: Roboto;
    color: rgb(255, 255, 255);
}

#Connect_guide_btn {
    float: left;
    height: 64px;
    font-size: 18px;
    clear: left;
    width: 48.849466%;
    border-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Roboto Medium';
    color: rgb(255, 255, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: block;
    background-color: rgb(97, 204, 0);
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 48px;
    margin-left: 25.701455%;
    margin-right: 0px;
}

#text8 {
    float: left;
    font-size: 20px;
    width: 16.990796%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 25.801663%;
    margin-top: 18px;
    clear: none;
    min-height: 23px;
    font-family: 'Roboto Black';
    margin-right: 0%;
}

#text6 {
    float: left;
    font-size: 20px;
    width: 17.066261%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 25.726198%;
    margin-top: 18px;
    clear: both;
    min-height: 23px;
    font-family: 'Roboto Black';
    margin-right: 0%;
}

#text4 {
    float: left;
    font-size: 20px;
    width: 17.066261%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 25.726198%;
    margin-top: 31px;
    clear: both;
    min-height: 23px;
    font-family: 'Roboto Black';
    margin-right: 0%;
}

#Knowledge_icon_1 {
    float: left;
    height: 70px;
    margin-left: 25.726198%;
    margin-top: 30px;
    clear: left;
    width: 70px;
    background-color: rgb(178, 178, 178);
    margin-right: 0%;
}

#Knowledge_icon_2 {
    float: left;
    height: 70px;
    margin-left: 2.988915%;
    margin-top: 30px;
    clear: none;
    width: 70px;
    background-color: rgb(178, 178, 178);
    margin-right: 0%;
}

#Knowledge_icon_3 {
    float: left;
    height: 70px;
    margin-left: 3.068092%;
    margin-top: 30px;
    clear: none;
    width: 70px;
    margin-right: 0%;
    background-color: rgb(178, 178, 178);
}

#Knowledge_icon_4 {
    float: left;
    height: 70px;
    margin-left: 2.917162%;
    margin-top: 30px;
    clear: none;
    width: 70px;
    margin-right: 0%;
    background-color: rgb(178, 178, 178);
}

#text5 {
    float: right;
    font-size: 20px;
    width: 17.066261%;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 31px;
    clear: none;
    min-height: 23px;
    font-family: 'Roboto Light';
    margin-right: 25.507225%;
}

#text7 {
    float: right;
    font-size: 20px;
    width: 17.066261%;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0px;
    margin-top: -23px;
    clear: left;
    min-height: 23px;
    font-family: 'Roboto Light';
    margin-right: 25.505988%;
}

#Profile_hero_pic {
    float: left;
    height: 351px;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    width: 100%;
    background-image:url("img/breakfast_blur.jpg");
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: repeat repeat;
}

#Profile_info_box {
    float: left;
    height: 253px;
    margin-left: 0%;
    margin-top: 47px;
    clear: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.901961);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#User_pic {
    float: left;
    height: 200px;
    margin-left: 20%;
    margin-top: 0px;
    clear: none;
    width: 200px;
    margin-right: 0px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    display: block;
    background-image:url("img/jonathan_s.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 50% 10%;
    background-repeat: no-repeat no-repeat;
}

#text2 {
    float: left;
    font-size: 1em;
    width: 49.00000476px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 4.658632%;
    margin-top: 0px;
    clear: none;
    min-height: 21px;
    font-family: Roboto;
    color: rgb(255, 255, 255);
    margin-right: 0%;
}

#Hamburger {
    float: left;
    width: auto;
    max-width: none;
    height: 25px;
    margin-left: 4.428332%;
    margin-top: 23px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0%;
    display: none;
}

#Username {
    float: left;
    font-size: 32px;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 3.49%;
    margin-top: 0px;
    clear: none;
    min-height: 32px;
    font-family: 'Roboto Black';
    margin-right: 0%;
    display: block;
}

#Badge1 {
    float: left;
    height: 30px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0%;
    display: block;
    background-color: rgb(255, 206, 0);
}

#Badge2 {
    float: left;
    height: 30px;
    margin-left: 10%;
    margin-top: 0px;
    clear: none;
    width: 30.000001110000003px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0%;
    display: block;
    background-color: rgb(0, 206, 255);
}

#Badge3 {
    float: left;
    height: 30px;
    margin-left: 10%;
    margin-top: 0px;
    clear: none;
    width: 30.000001110000003px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0%;
    display: block;
    background-color: rgb(97, 204, 0);
}

#Badge4 {
    float: left;
    height: 30px;
    margin-left: 10%;
    margin-top: 0px;
    clear: none;
    width: 30.000001110000003px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0%;
    display: block;
    background-color: rgb(255, 147, 0);
}

#Userinfo {
    float: left;
    font-size: 1em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.2em;
    margin: 80px 0px 0px -50%;
    clear: none;
    min-height: 118px;
    color: rgb(81, 81, 81);
    font-family: 'Roboto Light';
    display: block;
}

#Badges {
    float: left;
    height: auto;
    margin: 40px 0% 0px -49.87%;
    clear: none;
    width: 20%;
    min-height: 0px;
}

#Profile_info {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 23px;
    clear: none;
    width: 100%;
    margin-right: auto;
}

@media only screen and (max-width: 960px) {
    #Hamburger {
        display: block;
        margin-left: 0px;
        margin-right: 5%;
        float: right;
        margin-top: 28px;
        clear: none;
    }

    #Menu {
        display: none;
    }

    #User_pic {
        margin-left: 6%;
    }

    #text4 {
        margin-left: 5.999349%;
        margin-top: 31px;
        clear: both;
        height: auto;
        width: 28.133138%;
    }

    #text6 {
        margin-left: 5.999349%;
        margin-top: 18px;
        clear: both;
        height: auto;
        width: 28.133138%;
    }

    #text8 {
        margin-left: 5.999349%;
        margin-top: 18px;
        clear: both;
        height: auto;
        width: 27.931315%;
    }

    #Knowledge_icon_1 {
        margin-left: 5.999349%;
        margin-top: 30px;
        clear: left;
    }

    #Connect_guide_btn {
        width: 53%;
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
        margin-top: 732px;
    }

    #Profile_hero_pic {
        margin-top: 0px;
        margin-left: 0%;
        clear: both;
        background-image:url("img/breakfast_blur.jpg");
        background-attachment: scroll;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: repeat repeat;
    }

    #text7 {
        margin-right: 5.999349%;
        margin-top: -6px;
        clear: left;
    }

    #text5 {
        margin-right: 6%;
    }

    #Username {
        height: auto;
        clear: none;
        margin-right: 0px;
        float: left;
        min-height: 0px;
        font-size: 32px;
        width: 50%;
    }

    #Badge1 {
        margin-left: 0%;
        margin-right: 0px;
        float: left;
        clear: none;
        margin-top: 0px;
    }

    #Badge2 {
        margin-left: 12%;
        margin-right: 0px;
        float: left;
        clear: none;
        margin-top: 0px;
    }

    #Badge3 {
        margin-left: 15%;
        margin-right: 0px;
        float: left;
        clear: none;
        margin-top: 0px;
    }

    #Badge4 {
        margin-left: 86.216919%;
        margin-right: 0px;
        float: left;
        clear: none;
        margin-top: -30px;
    }

    #Userinfo {
        clear: none;
        height: auto;
        float: left;
    }

    #Badges {
        float: left;
        clear: none;
        height: 30px;
        width: 204.28125119999999px;
    }
}

@media only screen and (max-width: 500px) {
    #Username {
        font-size: 20px;
        height: auto;
        width: 57.978125%;
    }

    #Badges {
        width: 40.85625%;
        margin-top: 32px;
        margin-left: -57.846875%;
        clear: none;
    }

    #User_pic {
        width: 120px;
        height: 120px;
        background-image:url("img/jonathan_s.jpg");
        background-attachment: scroll;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: 50% 10%;
        background-repeat: no-repeat no-repeat;
    }

    #Profile_info {
        height: 159px;
        margin-left: auto;
        margin-right: auto;
    }

    #Userinfo {
        height: auto;
        width: 57.978125%;
        min-height: 79px;
        font-size: 13px;
        margin-top: 80px;
        margin-left: -57.978125%;
        clear: none;
    }

    #Header {
        height: 56px;
    }

    #text {
        font-size: 36px;
        margin-top: 10px;
    }

    #Hamburger {
        height: 20px;
        margin-top: 18px;
    }

    #Profile_info_box {
        height: 203px;
        margin-top: 24px;
    }

    #text4 {
        margin-top: 24px;
        margin-left: 5.996875%;
        clear: both;
        font-size: 16px;
        height: auto;
        width: 36.66875%;
    }

    #text5 {
        margin-right: 6%;
        margin-top: 24px;
        clear: none;
        font-size: 16px;
    }

    #Profile_hero_pic {
        height: 260px;
        margin-top: 0px;
        margin-left: 0%;
        clear: both;
    }

    #text6 {
        font-size: 16px;
        height: auto;
        width: 36.66875%;
        margin-top: 18px;
        margin-left: 5.996875%;
        clear: both;
    }

    #text7 {
        margin-right: 6%;
        margin-top: -23px;
        clear: left;
        font-size: 16px;
    }

    #text8 {
        font-size: 16px;
        margin-top: 44px;
        margin-left: 5.996875%;
        clear: none;
    }

    #Knowledge_icon_1 {
        margin-top: 30px;
        margin-left: 5.996875%;
        clear: left;
        height: 48px;
        width: 48px;
    }

    #Knowledge_icon_2 {
        width: 48px;
        height: 48px;
    }

    #Knowledge_icon_3 {
        height: 48px;
        width: 48px;
    }

    #Knowledge_icon_4 {
        height: 48px;
        width: 48px;
    }

    #Connect_guide_btn {
        margin-top: 584px;
        clear: none;
        width: 87%;
    }
}

