#text1 {
    float: left;
    font-size: 1em;
    width: 164.296875px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 30.469157%;
    margin-top: 0px;
    clear: none;
    min-height: 21px;
    font-family: 'Roboto Black';
    color: rgb(255, 255, 255);
    margin-right: 0%;
}

#text3 {
    float: left;
    font-size: 1em;
    width: 69.18750627px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 7.494441%;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    margin-right: 0%;
    font-family: Roboto;
    color: rgb(255, 255, 255);
}

#Add_Lang_btn {
    float: left;
    height: 64px;
    font-size: 18px;
    clear: left;
    width: 48.849466%;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Roboto Medium';
    color: rgb(255, 255, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: block;
    background-color: rgb(97, 204, 0);
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 48px;
    margin-left: 25.701455%;
    margin-right: 0px;
}

#text10 {
    float: left;
    font-size: 20px;
    width: 16.990796%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 25.801663%;
    margin-top: 18px;
    clear: none;
    min-height: 23px;
    font-family: 'Roboto Black';
    margin-right: 0%;
}

#text8 {
    float: left;
    font-size: 20px;
    width: 17.066261%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 25.726198%;
    margin-top: 18px;
    clear: both;
    min-height: 23px;
    font-family: 'Roboto Black';
    margin-right: 0%;
}

#text6 {
    float: left;
    font-size: 20px;
    width: 17.066261%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 25.726198%;
    margin-top: 31px;
    clear: both;
    min-height: 23px;
    font-family: 'Roboto Black';
    margin-right: 0%;
}

#box8 {
    float: left;
    height: 70px;
    margin-left: 25.726198%;
    margin-top: 30px;
    clear: left;
    width: 70px;
    background-color: rgb(178, 178, 178);
    margin-right: 0%;
}

#box9 {
    float: left;
    height: 70px;
    margin-left: 2.988915%;
    margin-top: 30px;
    clear: none;
    width: 70px;
    background-color: rgb(178, 178, 178);
    margin-right: 0%;
}

#box10 {
    float: left;
    height: 70px;
    margin-left: 3.068092%;
    margin-top: 30px;
    clear: none;
    width: 70px;
    margin-right: 0%;
    background-color: rgb(178, 178, 178);
}

#box11 {
    float: left;
    height: 70px;
    margin-left: 2.917162%;
    margin-top: 30px;
    clear: none;
    width: 70px;
    margin-right: 0%;
    background-color: rgb(178, 178, 178);
}

#text7 {
    float: right;
    font-size: 20px;
    width: 17.066261%;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 31px;
    clear: none;
    min-height: 23px;
    font-family: 'Roboto Light';
    margin-right: 25.507225%;
}

#text9 {
    float: right;
    font-size: 20px;
    width: 17.066261%;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0px;
    margin-top: -23px;
    clear: left;
    min-height: 23px;
    font-family: 'Roboto Light';
    margin-right: 25.505988%;
}

#box {
    float: left;
    height: 351px;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    width: 100%;
    background-image:url("img/breakfast_blur.jpg");
    background-position: 50% 50%;
    background-repeat: repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

#box1 {
    float: left;
    height: 253px;
    margin-left: 0%;
    margin-top: 47px;
    clear: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.901961);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#Register_Graphic {
    float: left;
    height: 200px;
    margin-left: 20%;
    margin-top: 0px;
    clear: none;
    width: 200px;
    margin-right: 0px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    display: block;
    background-image:url("/img/jonathan_s.jpg");
    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
}

#text2 {
    float: left;
    font-size: 1em;
    width: 49.00000476px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 4.658632%;
    margin-top: 0px;
    clear: none;
    min-height: 21px;
    font-family: Roboto;
    color: rgb(255, 255, 255);
    margin-right: 0%;
}

#Hamburger {
    float: left;
    width: auto;
    max-width: none;
    height: 25px;
    margin-left: 4.428332%;
    margin-top: 23px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0%;
    display: none;
}

#text4 {
    float: left;
    font-size: 32px;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 3.49%;
    margin-top: 0px;
    clear: none;
    min-height: 32px;
    font-family: 'Roboto Black';
    margin-right: 0%;
    display: block;
}

#box4 {
    float: left;
    height: 30px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0%;
    display: block;
    background-color: rgb(255, 206, 0);
}

#box5 {
    float: left;
    height: 30px;
    margin-left: 10%;
    margin-top: 0px;
    clear: none;
    width: 30.000001110000003px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0%;
    display: block;
    background-color: rgb(0, 206, 255);
}

#box6 {
    float: left;
    height: 30px;
    margin-left: 10%;
    margin-top: 0px;
    clear: none;
    width: 30.000001110000003px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0%;
    display: block;
    background-color: rgb(97, 204, 0);
}

#box7 {
    float: left;
    height: 30px;
    margin-left: 10%;
    margin-top: 0px;
    clear: none;
    width: 30.000001110000003px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0%;
    display: block;
    background-color: rgb(255, 147, 0);
}

#text5 {
    float: left;
    font-size: 1em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.2em;
    margin-left: -50%;
    margin-top: 80px;
    clear: none;
    min-height: 118px;
    color: rgb(81, 81, 81);
    font-family: 'Roboto Light';
    margin-right: 0px;
    display: block;
    margin-bottom: 0px;
}

#box3 {
    float: left;
    height: auto;
    margin-left: -49.87%;
    margin-top: 40px;
    clear: none;
    width: 20%;
    margin-right: 0%;
    min-height: 0px;
    margin-bottom: 0px;
}

#box2 {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 23px;
    clear: none;
    width: 100%;
    margin-right: auto;
}

@media only screen and (max-width: 960px) {
    #Hamburger {
        display: block;
        margin-left: 0px;
        margin-right: 5%;
        float: right;
        margin-top: 28px;
        clear: none;
    }

    #Menu {
        display: none;
    }

    #Register_Graphic {
        margin-left: 6%;
    }

    #text6 {
        margin-left: 5.999349%;
        margin-top: 31px;
        clear: both;
        height: auto;
        width: 28.133138%;
    }

    #text8 {
        margin-left: 5.999349%;
        margin-top: 18px;
        clear: both;
        height: auto;
        width: 28.133138%;
    }

    #text10 {
        margin-left: 5.999349%;
        margin-top: 18px;
        clear: both;
        height: auto;
        width: 27.931315%;
    }

    #box8 {
        margin-left: 5.999349%;
        margin-top: 30px;
        clear: left;
    }

    #Add_Lang_btn {
        width: 53%;
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
        margin-top: 732px;
    }

    #box {
        margin-top: 0px;
        margin-left: 0%;
        clear: both;
        background-image:url("img/breakfast_blur.jpg");
        background-position: 50% 50%;
        background-repeat: repeat;
        background-attachment: scroll;
        -webkit-background-size: cover;
        background-size: cover;
    }

    #text9 {
        margin-right: 5.999349%;
        margin-top: -6px;
        clear: left;
    }

    #text7 {
        margin-right: 6%;
    }

    #text4 {
        height: auto;
        clear: none;
        margin-right: 0px;
        float: left;
        min-height: 0px;
        font-size: 32px;
        width: 50%;
    }

    #box4 {
        margin-left: 0%;
        margin-right: 0px;
        float: left;
        clear: none;
        margin-top: 0px;
    }

    #box5 {
        margin-left: 12%;
        margin-right: 0px;
        float: left;
        clear: none;
        margin-top: 0px;
    }

    #box6 {
        margin-left: 15%;
        margin-right: 0px;
        float: left;
        clear: none;
        margin-top: 0px;
    }

    #box7 {
        margin-left: 86.216919%;
        margin-right: 0px;
        float: left;
        clear: none;
        margin-top: -30px;
    }

    #text5 {
        clear: none;
        height: auto;
        float: left;
    }

    #box3 {
        float: left;
        clear: none;
        height: 30px;
        width: 204.28125119999999px;
    }
}

